!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html.no-js{:lang => "en"}

    %head

        %meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

        %title Project Name
        %meta{:name => "description", :content => ""}
        %meta{:name => "keywords", :content => ""}
        %meta{:name => "author", :content => ""}

        -# Mobile
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# Favicon
        / %link{:href => "../img/icons/favicon.ico", :rel => "shortcut icon"}

        -# FONTS

        -# CSS
        %link{:rel => "stylesheet", :href => "../css/app.css"}

        -# Modernizr
        %script{:src => "../js/libs/modernizr-ck.js"}

        -# IE LT 9
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="../css/ie8.css" /><script src='../js/libs/ie.min.js'></script><![endif]-->



    %body

        -# Header & Content Wrap
        %section#header-content-wrap

            -# Header & Navigation
            %header#header-wrap
                .header-inner
                    %h1.logo
                        %a.name{:href => "/assets/html/index.html"}
                            Project Name

                    %nav#main-navigation
                        %ul.navigation-list
                            %li
                                %a{:href => "#", :target=>'_blank'} about
                            %li
                                %a{:href => "#"} donate
                            %li
                                %a.current{:href => "/assets/html/credits.html"} credits
                            %li
                                %a{:href => "#"} subscribe


            -# Content Wrap
            #content-wrap

                -# Main
                %main


        -# Site Footer
        %footer#main-footer


        %script{:src => "../js/app-ck.js"}
        %script{:src => "../js/sitescripts.min.js"}



        -# Asynchronous Google Analytics
        %script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));





