!!! 5
%html.no-js{:lang => "en"}

  %head
    %meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

    %title Genome — Docs

    -# Mobile
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}

    -# Favicon
    %link{:href => "assets/img/icons/favicon-alt-16.png", :rel => "icon"}

    -# FONTS
    %script{:src => "//use.typekit.net/gzy0ghu.js"}
    %script
      try{Typekit.load();}catch(e){}

    -# Modernizr
    %script{:src => "assets/js/min/modernizr.min.js"}

    -# CSS
    %link{:rel => "stylesheet", :href => "assets/css/genome-main.css"}

    -# IE LT 9
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="assets/css/ie8.css" /><script src='assets/js/min/ie.min.js'></script><![endif]-->

  %body.init
    -# Site Wrap Outer
    #site-wrap-outer
      -# Site Wrap Inner
      #site-wrap-inner
        -# Content Wrap
        %main#content-wrap{:role => "main"}
          .center.content-row.add-space-b
            %h2 Genome — DOCS

          .inner-bounds
            .content-row
              %h2.section-title.left.smaller
                %span
                  Documentation:
                Front-End Code
              %hr.neutral-bg/


          .inner-bounds.background-white.card-block
            .content-row
              %h2.section-title.left.smaller
                %span
                  Setup

            .content-row
              %ul.featured-list.slats
                %li
                  %h3.text-meta-header
                    %a{:href => "assets/html/getting-started.html"}
                      Getting Started
                %li
                  %h3.text-meta-header
                    %a{:href => "assets/html/sass.html"}
                      SASS




          .inner-bounds.block
            .content-row
              %h2.section-title.left.smaller
                %span
                  Documentation:
                Wordpress CMS
              %hr.neutral-bg/



    -# Site Scripts

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    // window.jQuery || document.write('<script src="assets/js/libs/jquery.min.js"><\/script>')

    %script{:src => "assets/js/min/app.min.js"}
    %script{:src => "assets/js/min/sitescripts.min.js"}
