
# Referenced: github.com/braidn/Nanoc-Haml-Compass-Base

compile '*' do
  case item[:extension]
  when 'haml'
    filter :haml
  when 'mdown' || 'html'
    filter :erb
  end
  layout 'default' unless item[:layout] == 'none'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :filter => :html5