---
title: Article Type- Feature
---

-# Featured Hero
.background-white
    %header.hero.hero-featured-article.background-size-full.center.hero-tall
        .story-cover-content.single-col-layout
            .align-middle
                .align-block
                    %a.cover-content-inner{:href => "https://www.google.com/", :'data-0'=>'top:0px;', :'data-500'=>'top:-40px;'}

                        %h2
                            Targeted
                            %br/
                            Treatment

                        %hr.white-bg.partial/

                        %p.sans.lead
                            How Personalized Medicine is developing health care tailored to your unique genetic blueprint — and how that affects you today.

                        .author-attrib.text-meta-highlight.tertiary-text-color By Author Righter

                        .content-row
                            %a.arrow-down{:href => "#",:'data-icon' => "E"}

        .story-cover-image{:'data-0'=>'opacity:1;', :'data-140'=>'opacity:0;'}
        .story-cover-image-transition

    #read-time-wrap
        -# Featured Content Paper
        %section#top.featured_layout.inner-bounds.block


            -# Primary Content Column
            %section.primary-content

                .content-row
                    -# Primary Content Column + Article Body Copy
                    %article.article-body-copy


                        -# P with small caps + primary tint
                        %p
                            %span.lead-with-small-caps.tertiary-text-color Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non. Pellentesque volutpat tristique nisi vitae ornare. Aenean et libero vel lacus faucibus imperdiet. Praesent imperdiet mauris ornare est commodo, sit amet ultricies orci hendrerit.
                            raesent interdum augue nisi, eget eleifend arcu vestibulum non. Pellentesque volutpat
                            tris tique nisi vitae ornare. Aenean et libero vel lacus faucibus imperdiet. Praesent imperdiet mauris ornare est commodo, sit amet ultricies orci hendrerit.
                        %p
                            Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta, ligula felis placerat augue, a hendrerit libero nulla non arcu. Aliquam interdum elit nec ipsum iaculis adipiscing. Donec pulvinar est vitae nunc consectetur.

                        -# Photo - Enlarge
                        .pull-out-right
                            .article-photo
                                %img.load{:src => "/assets/img/content/article-placeholder-slim.jpg", :'data-original' => "/assets/img/content/article-placeholder-slim.jpg", :alt => ""}/
                                %a.btn.media-action.no-text.overlay-view-image{:href => "/assets/img/content/article-placeholder-slim.jpg",:title => "Waltz, bad nymph, for quick jigs vex get my woven flax jodhpurs", :'data-icon'=>"b"}
                            .article-photo-caption.with-bottom-border
                                %p.text-meta-sub.smaller
                                    Waltz, bad nymph, for quick jigs vex get my woven flax jodhpurs.

                        %p
                            Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros. Aliquam interdum elit nec ipsum iaculis adipiscing.

                        %p
                            Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id. Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est.


                        -# Blockquote + HR
                        %blockquote.small-block
                            No sensible decision can be made any longer without taking into account not only the world as it is.
                        %hr.thick.partial.neutral-light-bg/

                        %p
                            Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id.


                        %p
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est. Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.



        -# Hero: Article Section
        %header.hero.hero-article-section.background-size-full.center
            .story-cover-content.single-col-layout
                .align-middle
                    .align-block

                        %h2
                            The Genetic Code

                        %hr.thick.white-bg.partial/

                        %a.author-attrib.text-meta-highlight.tertiary-text-color{:href => "#"} By Big Science Media

                        %p.italic.lead
                            The PreDx test measures seven  substances called “biomarkers” in your blood that are linked to the development of type 2 diabetes.

                        %a.special.btn.neutral.overlay-watch-video.icon-camera-video{:href => "https://vimeo.com/17404191"}
                            %span
                                Watch Video





        -# Featured Content Card
        %section.featured_layout.inner-bounds.block

            -# Primary Content Column
            %section.primary-content

                .content-row
                    -# Primary Content Column + Article Body Copy
                    %article.article-body-copy

                        %p
                            Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta, ligula felis placerat augue, a hendrerit libero nulla non arcu. Aliquam interdum elit nec ipsum iaculis adipiscing. Donec pulvinar est vitae nunc consectetur, non malesuada dolor ornare.
                        %p
                            Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non. Pellentesque volutpat
                            tris tique nisi vitae ornare. Aenean et libero vel lacus faucibus imperdiet. Praesent imperdiet mauris ornare est commodo, sit amet ultricies orci hendrerit.

        -# Hero: Slideshow Section
        %section.hero.center.hero-slideshow-section.background-size-full.center
            -# Primary Content Column
            .slideshow-wrap
                .slideshow
                    %ul.slides
                        %li
                            %img{:src => "/assets/img/content/Repubblica-30-dicembre-2012.jpg", :alt => ""}/
                        %li
                            %img{:src => "/assets/img/content/article-placeholder.jpg", :alt => ""}/
                        %li
                            %img{:src => "/assets/img/content/article-placeholder.jpg", :alt => ""}/
                            %figcaption
                                Nonsectetur adipiscing elit. Praesent interdum augue nisi.
        / .content-row.slideshow-figcaption
        /     %p.text-meta-sub.sans-meta
        /         The President talks about climate change, Iran, the atmosphere in Washington, and the future of American policy in these outtakes from a series of exclusive interviews. The President talks about climate change, Iran, the atmosphere in Washington, and the future of American policy in these outtakes from a series of exclusive interviews.


        -# Featured Content Card
        %section.featured_layout.inner-bounds

            -# Primary Content Column
            %section.primary-content

                .content-row
                    -# Primary Content Column + Article Body Copy
                    %article.article-body-copy.add-space-t
                        %p
                            Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta, ligula felis placerat augue, a hendrerit libero nulla non arcu. Aliquam interdum elit nec ipsum iaculis adipiscing. Donec pulvinar est vitae nunc consectetur, non malesuada dolor ornare.
                        %p
                            Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non. Pellentesque volutpat
                            tris tique nisi vitae ornare. Aenean et libero vel lacus faucibus imperdiet. Praesent imperdiet mauris ornare est commodo, sit amet ultricies orci hendrerit.
                        %p
                            Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta, ligula felis placerat augue, a hendrerit libero nulla non arcu. Aliquam interdum elit nec ipsum iaculis adipiscing. Donec pulvinar est vitae nunc consectetur, non malesuada dolor ornare.

                        %hr.article-break.health-journal-hr

                        %h3 Fluctuat Nec Mergitur

                        .pull-out-right
                            -# Photo - with caption and video
                            .article-photo.with-bottom-border
                                %img.load{:src => "/assets/img/content/article-placeholder.jpg", :'data-original' => "/assets/img/content/article-placeholder.jpg", :alt => ""}/
                                %a.btn.media-action.overlay-watch-video{:href => "https://vimeo.com/17404191", :'data-icon'=>"j"}
                                    %span
                                        Watch Video





                        %p
                            Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id.
                        %p
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est. Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.

                        .pull-out-left
                            -# Photo - with caption and slideshow
                            .article-photo
                                %img.load{:src => "/assets/img/content/Repubblica-30-dicembre-2012.jpg", :'data-original' => "/assets/img/content/Repubblica-30-dicembre-2012.jpg", :alt => ""}/

                                .overlay-view-slideshow
                                    %a.btn.media-action.slide{:href => "/assets/img/content/Repubblica-30-dicembre-2012.jpg", :title => "Lorem Ipsum is simply dummy text of the printing and typesetting industry.", :'data-icon'=>"c"}
                                        %span
                                            View Slideshow

                                    %a.mfp-hide.slide{:href => "/assets/img/content/article-placeholder.jpg", :title => "Lorem Ipsum is simply dummy text of the printing and typesetting industry."}
                                        two


                            -# Photo Caption
                            .article-photo-caption.with-bottom-border
                                .text-meta-sub
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.




                        %p
                            Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.
                        %p
                            Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id.
                        %p
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est. Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.

                        -# Blockquote - nested left
                        %blockquote.with-Qmark.Q-left.pull-out-left
                            No sensible decision can be made any longer without taking into account not only the world as it is.

                        %p
                            Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id.
                        %p
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est. Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.


                        -# Photo - inline with caption
                        .article-photo.with-top-border
                            %img.load{:src => "/assets/img/content/article-placeholder.jpg", :'data-original' => "/assets/img/content/article-placeholder.jpg", :alt => ""}/

                        -# Photo Caption
                        .article-photo-caption.with-bottom-border
                            %p.text-meta-sub.smaller
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.


                        %p
                            I velit tellus egestas metus, a feugiat tellus purus a est. Morbi erat risus, faucibus at odio ut, pellentesque sodales eros. Phasellus accumsan erat sapien, id placerat sem vulputate blandit.

                        %p
                            Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.
                            %span.light-text-color.inline-block.end-mark{:'data-icon'=>"G"}



