---
title: Article Type- Blog
---

%section.primary_layout.article_layout
    .inner-bounds.paper-white.block

        .content-row
            -# Article Header
            .content-row
                %header.article-header
                    %a.text-meta.brick{:href => "#"} Treatment

                    %h2 Rethinking Cancer Treatment in 2014

                    %p.lead Research finds major flaws in standard medical approach

                    %a.author-attrib.text-meta-highlight{:href => "#"} By Author Righter

                    .article-meta
                        %time December 22, 2013
                        %span.ver-line &#124;
                        %span.action.icon.print Print
                        %span.ver-line &#124;
                        %span.action.icon.comment-count 888


                -# Photo
                .article-photo.primary
                    %img{:src => "/assets/img/content/article-placeholder.jpg", :alt => ""}/

                -# Photo Caption Card
                .article-photo-caption.card
                    .card-inner-wrap
                        %span.photo-attrib Annie Photographer

                        %p.text-meta-sub.smaller
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.



            .content-row
                -# Primary Aside Column
                = render 'aside-column-article'


                -# Primary Content Column + Article Body Copy
                %article.primary-content.article-body-copy.block
                    %p
                        Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non. Pellentesque volutpat
                        tris tique nisi vitae ornare. Aenean et libero vel lacus faucibus imperdiet. Praesent imperdiet mauris ornare est commodo, sit amet ultricies orci hendrerit.
                    %p
                        Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta, ligula felis placerat augue, a hendrerit libero nulla non arcu. Aliquam interdum elit nec ipsum iaculis adipiscing. Donec pulvinar est vitae nunc consectetur, non malesuada dolor ornare.

                    %hr.brick/

                    %p
                        Praesent et vehicula sapien, a bibendum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eget viverra tortor, at rhoncus massa. Nullam eros eros, viverra non mauris vitae, suscipit vulputate purus. Nam orci eros, ullamcorper ac auctor non, interdum a nibh. Phasellus imperdiet iaculis neque in semper. Vestibulum bibendum ligula nibh, at fringilla ligula ornare id.
                    %p
                        Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor, tincidunt sit amet metus a, tristique iaculis est. Etiam molestie viverra orci, sit amet faucibus elit condimentum non. Ut laoreet ornare lacus. Nulla pretium dictum imperdiet. Pellentesque commodo viverra lacus, vulputate accumsan lacus elementum sed.
                    %p
                        I velit tellus egestas metus, a feugiat tellus purus a est. Morbi erat risus, faucibus at odio ut, pellentesque sodales eros. Phasellus accumsan erat sapien, id placerat sem vulputate blandit.
                    %p
                        Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.

                %footer.article-footer
                    .text-meta-highlight Condition:
                    %a.text-meta-highlight.light-contrast{:href => "#"} Heart Attack,
                    %a.text-meta-highlight.light-contrast{:href => "#"} Heart Disease,
                    %a.text-meta-highlight.light-contrast{:href => "#"} Diet



        .content-row.end-block
            -# Collection
            = render 'collection-related-reading'




