---
title: Project Index
---


.inner-bounds
.block

    .content-row

        -# Related Reading Collection
        %section.related-reading.collection.grid-3-per
            %h2.section-title
                Project
                %span
                    Index

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/"}
                    %img{:src => "/assets/img/content/site-screenshots/home.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/"} Layout
                .media-copy
                    %h3.text-meta-header Home

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/output/article_feature/index.html"}
                    %img{:src => "/assets/img/content/site-screenshots/feature.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/output/article_feature/index.html"} Layout
                .media-copy
                    %h3.text-meta-header Article: Feature

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/output/article_blog/index.html"}
                    %img{:src => "/assets/img/content/site-screenshots/blog.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/output/article_blog/index.html"} Layout
                .media-copy
                    %h3.text-meta-header Article: Blog

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/output/article_column/index.html"}
                    %img{:src => "/assets/img/content/site-screenshots/column.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/output/article_column/index.html"} Layout
                .media-copy
                    %h3.text-meta-header Article: Column



