---
title: Project Index
---


.inner-bounds.paper-white.block

    .content-row

        -# Related Reading Collection
        %section.related-reading.collection.grid-3-per
            %h2.section-title
                Project
                %span
                    Index

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/index.html"}
                    %img{:src => "/assets/img/content/site-screenshots/home.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/"} Layout
                .media-copy
                    %h3.text-meta-header Home

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/article_feature"}
                    %img{:src => "/assets/img/content/site-screenshots/feature.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/article_feature"} Layout
                .media-copy
                    %h3.text-meta-header Article: Feature

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/article_blog"}
                    %img{:src => "/assets/img/content/site-screenshots/blog.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/article_blog"} Layout
                .media-copy
                    %h3.text-meta-header Article: Blog

            .media-object.with-large-image.grid-element
                %a.text-meta{:href => "/article_column"}
                    %img{:src => "/assets/img/content/site-screenshots/column.jpg", :alt => "image title"}/
                %a.text-meta{:href => "/article_column"} Layout
                .media-copy
                    %h3.text-meta-header Article: Column



