---
title: Project Index
---


%section.primary_layout.article_layout
    .inner-bounds.block.background-white


        .content-row
            -# Project Index
            %section.related-reading.collection.grid-3-per
                %h2.section-title.center
                    Project
                    %span
                        Index

                %hr.thick.neutral-light-bg.partial/

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/article_feature/index.html"}
                            %h3.text-meta-header Article: Feature
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/article_blog/index.html"}
                            %h3.text-meta-header Article: Blog w/ Photo
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/article_blog_no_photo/index.html"}
                            %h3.text-meta-header Article: Blog w/o Photo
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/article_column/index.html"}
                            %h3.text-meta-header Article: Column
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/blog_roll/index.html"}
                            %h3.text-meta-header List: Blog Roll
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/story_roll/index.html"}
                            %h3.text-meta-header List: Story Roll
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/output/search_results/index.html"}
                            %h3.text-meta-header List: Search Results
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "/assets/img/content/th-feature-placeholder.jpg", :'data-original' => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Home Layout

                        %a.media-copy{:target=>"_blank", :href => "/"}
                            %h3.text-meta-header Home
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…








