---
title: Project Index (local)
---


%section.primary_layout.article_layout
    .inner-bounds.block.background-white


        .content-row
            -# Project Index
            %section.related-reading.collection.grid-3-per
                %h2.section-title.center
                    Project Index
                    %span
                        Local Paths

                %hr.thick.neutral-light-bg.partial/

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/article_feature/"}
                            %h3.text-meta-header Article: Feature
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/article_blog/"}
                            %h3.text-meta-header Article: Blog w/ Photo
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/article_blog_no_photo/"}
                            %h3.text-meta-header Article: Blog w/o Photo
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Article Layout

                        %a.media-copy{:target=>"_blank", :href => "/article_column/"}
                            %h3.text-meta-header Article: Column
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/blog_roll/"}
                            %h3.text-meta-header List: Blog Roll
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/story_roll/"}
                            %h3.text-meta-header List: Story Roll
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta List Layout

                        %a.media-copy{:target=>"_blank", :href => "/search_results/"}
                            %h3.text-meta-header List: Search Results
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Home Layout

                        %a.media-copy{:target=>"_blank", :href => "/"}
                            %h3.text-meta-header Home
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…





                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_about/"}
                            %h3.text-meta-header Utility: About Us
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_contact/"}
                            %h3.text-meta-header Utility: Contact
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_contributors/"}
                            %h3.text-meta-header Utility: Contributors
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_media-kit/"}
                            %h3.text-meta-header Utility: Media Kit
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_partners-and-allies/"}
                            %h3.text-meta-header Utility: Partners & Allies
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…

                .media-object.with-large-image.grid-element.popup-content
                    %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                    .popup-content-wrap
                        .text-meta Utility Layout

                        %a.media-copy{:target=>"_blank", :href => "/utility_privacy-policy/"}
                            %h3.text-meta-header Utility: Privacy Policy
                            %p.text-meta-sub.light-text-color.sans-meta
                                Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…














