---
title: Project Index
---

%section.article_layout.block.container
    .inner-bounds

        .content-row
            -# Related Reading Collection
            %section.related-reading.collection.grid-3-3.block
                %h2.section-title
                    Project
                    %span
                        Index

                .media-object.with-large-image.grid-element
                    %a.text-meta{:href => "/article_blog"}
                        %img{:src => "/assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                    %a.text-meta{:href => "/article_blog"} Layout
                    .media-copy
                        %h3.text-meta-header Article: Blog

                .media-object.with-large-image.grid-element
                    %a.text-meta{:href => "/article_column"}
                        %img{:src => "/assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                    %a.text-meta{:href => "/article_column"} Layout
                    .media-copy
                        %h3.text-meta-header Article: Column

