---
title: Search w/ Filter
---

-# Search Results
.inner-bounds.remove-footer-offset.block
    %header.section-header.add-bleed.search-tags
        %h2.section-title.left.smaller
            %span
                Selected Condition:
            Asthma
        %hr.neutral-bg/


        %ul.meta-list.with-tags.tags-white-bg.inline

            %li.current
                %a{:href => "#"} Asthma
            %li
                %a{:href => "#"} Breast Cancer
            %li
                %a{:href => "#"} Crohn's Disease
            %li
                %a{:href => "#"} Heart Attack
            %li
                %a{:href => "#"} Cystic Fibrosis
            %li
                %a{:href => "#"} Diet
            %li
                %a{:href => "#"} IBD
            %li
                %a{:href => "#"} Heart Disease
            %li
                %a{:href => "#"} Obesity


        %hr.neutral-bg/
        %br
        %br



.inner-bounds.background-white.card-block
    .content-row
        %section.collection.grid-3-per
            %h2.section-title.left.smaller
                %span
                    Features
            %hr.neutral-bg/

            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/icons/article-img-placeholderRetina.png", :'data-original' => "../assets/img/icons/article-img-placeholderRetina.png", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Research

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Reworking Your Genetic Puzzle
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-3.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Science

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Why is this $99 Home DNA Kit Causing Such an Uproar?
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            A discussion of the original 1987 film considers its place in the canon of 1980s action films, and ponders whethe…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Treatment

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/icons/article-img-placeholderRetina.png", :'data-original' => "../assets/img/icons/article-img-placeholderRetina.png", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Research

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Reworking Your Genetic Puzzle
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-3.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Science

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Why is this $99 Home DNA Kit Causing Such an Uproar?
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            A discussion of the original 1987 film considers its place in the canon of 1980s action films, and ponders whethe…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Treatment

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Changing the Facts
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


.inner-bounds.background-white.card-block
    .content-row
        %section.collection.grid-3-per
            %h2.section-title.left.smaller
                %span
                    Columns & Departments
            %hr.neutral-bg/

            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Research

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Reworking Your Genetic Puzzle
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-3.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Science

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Rewriting the Brain
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            A discussion of the original 1987 film considers its place in the canon of 1980s action films, and ponders whethe…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Treatment

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


.inner-bounds.background-white.card-block
    .content-row
        %section.collection.grid-3-per
            %h2.section-title.left.smaller
                %span
                    From The blog
            %hr.neutral-bg/

            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Research

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Reworking Your Genetic Puzzle
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-3.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Science

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Rewriting the Brain
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            A discussion of the original 1987 film considers its place in the canon of 1980s action films, and ponders whethe…


            .media-object.with-large-image.grid-element.popup-content
                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/
                .popup-content-wrap
                    .comment-counter-wrap
                        %a.icon.comment-counter{:href => "http://genome.telegraphcreative.co/genometest.disqus/article.html#disqus_thread"}

                    %a.text-meta{:href => "#"} Treatment

                    %a.media-copy{:href => "#"}
                        %h3.text-meta-header Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color By Authur Righter
                        %p.text-meta-sub.light-text-color.sans-meta
                            Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…




.inner-bounds.background-white.card-block
    .content-row
        %h2.section-title.left.smaller
            Not what you were looking for? Let's try this again:

        .form-box#inline-search-box
            %form{:action => ""}
                / %a.input-icon{:'data-icon'=>"C", :href=>"#"}
                %input.input-icon{:type => "submit", :value=>"", :'data-icon'=>"C",}/
                %input#search{:type => "text", :placeholder => "What were you looking for?"}/
