---
title: Roll Type- Story
---

%section.primary_layout.article_layout
    .inner-bounds.block.background-white

        -# Complimentary Featured Articles - Horizontal Layout
        .content-row
            -# Primary Aside Column
            = render 'aside-column-story-roll-list'

            %section.primary-content
                %ul.featured-list.roll-list

                    %li.media-object-horizontal-layout.rte-remote{:'data-file'=>'/article_blog/index.html', :'data-target'=>'#read-time-wrap'}
                        .content-row
                            %a.text-meta{:href => "#"} Treatment
                            %h3.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                            %p.text-meta-sub.light-text-color
                                %a{:href => "#"} By Authur Righter
                                %span.interpunct &#183
                                December 22, 2013
                                %span.interpunct &#183
                                %a.action{:href=>"#", :'data-icon'=>"F"}
                                    %span.eta
                                    7 min read

                        .grid-2-per.major-r
                            .grid-element.image-content
                                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/

                            .grid-element
                                .media-copy
                                    %p.text-meta-sub.sans-meta
                                        Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus Atlas. Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non…
                                        %a.text-meta.continue-reading{:href => "#"}
                                            Continue Reading
                                            %span.double-quote-right
                                                &#187;

                    %li.media-object-horizontal-layout.rte-remote{:'data-file'=>'/article_column/index.html',:'data-target'=>'#read-time-wrap'}
                        .content-row
                            %a.text-meta{:href => "#"} Treatment
                            %h3.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                            %p.text-meta-sub.light-text-color
                                %a{:href => "#"} By Authur Righter
                                %span.interpunct &#183
                                December 22, 2013
                                %span.interpunct &#183
                                %a.action{:href=>"#", :'data-icon'=>"F"}
                                    %span.eta
                                    7 min read

                        .grid-2-per.major-r
                            .grid-element.image-content
                                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/

                            .grid-element
                                .media-copy
                                    %p.text-meta-sub.sans-meta
                                        Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus Atlas. Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non…
                                        %a.text-meta.continue-reading{:href => "#"}
                                            Continue Reading
                                            %span.double-quote-right
                                                &#187;

                    %li.media-object-horizontal-layout.rte-remote{:'data-file'=>'/article_column/index.html',:'data-target'=>'#read-time-wrap'}
                        .content-row
                            %a.text-meta{:href => "#"} Treatment
                            %h3.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                            %p.text-meta-sub.light-text-color
                                %a{:href => "#"} By Authur Righter
                                %span.interpunct &#183
                                December 22, 2013
                                %span.interpunct &#183
                                %a.action{:href=>"#", :'data-icon'=>"F"}
                                    %span.eta
                                    7 min read

                        .grid-2-per.major-r
                            .grid-element.image-content
                                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/

                            .grid-element
                                .media-copy
                                    %p.text-meta-sub.sans-meta
                                        Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus Atlas. Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non…
                                        %a.text-meta.continue-reading{:href => "#"}
                                            Continue Reading
                                            %span.double-quote-right
                                                &#187;

                    %li.media-object-horizontal-layout.rte-remote{:'data-file'=>'/article_blog/index.html', :'data-target'=>'#read-time-wrap'}
                        .content-row
                            %a.text-meta{:href => "#"} Treatment
                            %h3.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                            %p.text-meta-sub.light-text-color
                                %a{:href => "#"} By Authur Righter
                                %span.interpunct &#183
                                December 22, 2013
                                %span.interpunct &#183
                                %a.action{:href=>"#", :'data-icon'=>"F"}
                                    %span.eta
                                    7 min read

                        .grid-2-per.major-r
                            .grid-element.image-content
                                %img.load{:src => "../assets/img/content/th-feature-placeholder-2.jpg", :'data-original' => "../assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/

                            .grid-element
                                .media-copy
                                    %p.text-meta-sub.sans-meta
                                        Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus Atlas. Nonsectetur adipiscing elit. Praesent interdum augue nisi, eget eleifend arcu vestibulum non…
                                        %a.text-meta.continue-reading{:href => "#"}
                                            Continue Reading
                                            %span.double-quote-right
                                                &#187;



        .content-row
            -# Pagination
            = render 'pagination'
