---
title: Utility - About Page
---

%section.primary_layout.article_layout.no-photo
    .inner-bounds.block.background-white


        .content-row
            -# Article Header
            %header.article-header

                %h2 About Us


        .content-row

            -# Primary Content Column + Article Body Copy
            %article.primary-content.article-body-copy
                %p
                    Our vision is a world in which everyone knows the power of his genome. As the most trusted source of information on personalized medicine, Genome will transform the way healthcare is delivered by inspiring people to demand the care they deserve.

                %p
                    Genome covers personalized medicine and the genomic revolution that makes it possible. It is a quarterly magazine for the public at large: patients, family, caregivers, and healthcare professionals on the education frontlines. Its mission is to empower readers to make informed health decisions that will help them live better, longer.

                %p
                    At Genome magazine, we tell compelling, in-depth, well-researched stories about the people affected by chronic and life-altering diseases, as well as the efforts to predict, prevent, diagnose, and treat those conditions.

                %p
                    In every issue, Genome explores complicated subjects concerning genomics and medicine — and the associated ethical, legal, and social issues — but tells those stories in a relevant, easy-to-understand manner. We also examine the issues that affect our readers on a daily basis, including personal health topics like diet, exercise, sleep, spirituality, and many more.



                %h3 Genome Staff

                %ul.slats

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Susan McClure
                                %p.sans
                                    Publisher

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Jeanette McCarthy
                                %p.sans
                                    Editor-In-Chief

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Geoffrey Ginsburg
                                %p.sans
                                    Editor-At-Large

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Eric Celeste
                                %p.sans
                                    Editorial Director

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Sam Solomon
                                %p.sans
                                    Creative Director

                    %li
                        .media-object

                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Rhonda Reinhart
                                %p.sans
                                    Managing Editor


                %h3.block Board of Advisors

                %ul.slats
                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Vence L. Bonham, JD
                                %p.sans
                                    Chief, Education and Community Involvement Branch Division of Policy, Communications and Education National Human Genome Research Institute National Institutes of Health

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Robert Nussbaum, MD

                                %p.sans
                                    Professor, Department of Medicine Chief, Division of Medical Genetics UCSF

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Sharon Terry
                                %p.sans
                                    President and CEO, Genetic Alliance

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Eric Topol, MD
                                %p.sans
                                    Director, Scripps Translational Science Institute; Chief Academic Officer, Scripps Health; Professor of Genomics, The Scripps Research Institute, La Jolla, California

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Arthur Caplan, PhD
                                %p.sans
                                    Professor of Bioethics and Director Division of Medical Ethics NYU Langone Medical School

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Howard Levy, MD, PhD
                                %p.sans
                                    Assistant Professor, Division of General Internal Medicine and McKusick-Nathans Institute of Genetic Medicine, Johns Hopkins University

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Jack Maypole, MD
                                %p.sans
                                    Director of Pediatrics, South End Community Health Center; Director of Comprehensive Care Program, Boston Medical Center




            -# Primary Aside Column
            = render 'aside-column-utility-nav'






