---
title: Utility - Partners & Allies Page
---

%section.primary_layout.article_layout.no-photo
    .inner-bounds.block.background-white


        .content-row
            -# Article Header
            %header.article-header

                %h2 Partners & Allies Page


        .content-row

            -# Primary Content Column + Article Body Copy
            %article.primary-content.article-body-copy

                %ul.slats
                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Peter Partner

                                %p.sans
                                    Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Peter Partner

                                %p.sans
                                    Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.

                    %li
                        .media-object
                            .media-copy
                                %h3.text-meta-header.small{:href => "#"}
                                    %a{:href => "#"}
                                        Peter Partner

                                %p.sans
                                    Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.




            -# Primary Aside Column
            = render 'aside-column-utility-nav'






