---
title: Utility - Contributors
---

%section.primary_layout.article_layout.no-photo
    .inner-bounds.block.background-white


        .content-row
            -# Article Header
            %header.article-header

                %h2 Contributors


        .content-row

            -# Primary Content Column + Article Body Copy
            %section.primary-content
                %ul.roll-list.slats
                    %li.title
                        .media-object.with-med-image
                            / %img.load.author-pic.circle{:src => "../assets/img/content/carl-zimmer-web.jpg", :'data-original' => "../assets/img/content/carl-zimmer-web.jpg", :alt => ""}/
                            %img.load.author-pic{:src => "../assets/img/icons/user-placeholderRetina.png", :'data-original' => "../assets/img/icons/user-placeholderRetina.png", :alt => ""}/

                            .media-copy
                                %h2.text-meta-header{:href => "#"}
                                    %a{:href => "#"}
                                        Carl Zimmer

                                %p.sans
                                    Carl Zimmer is a columnist for the New York Times and the author of a dozen books about biology. For more information, visit carlzimmer.com.

                                .view-all
                                    %a.italic.serif{:href => "#"}
                                        View All Articles
                                        %span.double-quote-right
                                            &#187;

                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;

                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;

                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;


                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;


                %ul.roll-list.slats.block
                    %li.title
                        .media-object.with-med-image
                            %img.load.author-pic.circle{:src => "../assets/img/content/kevin-davies-web.jpg", :'data-original' => "../assets/img/content/kevin-davies-web.jpg", :alt => ""}/
                            .media-copy
                                %h2.text-meta-header{:href => "#"}
                                    %a{:href => "#"}
                                        Kevin Davies

                                %p.sans
                                    Kevin Davies is the author of Cracking the Genome and The $1,000 Genome. He is publisher of Chemical & Engineering News, published by the American Chemical Society in Washington, D.C.


                                .view-all
                                    %a.italic.serif{:href => "#"}
                                        View All Articles
                                        %span.double-quote-right
                                            &#187;

                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;
                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;



                %ul.roll-list.slats.block
                    %li.title
                        .media-object.with-med-image
                            %img.load.author-pic.circle{:src => "../assets/img/content/jeanette-mccarthy-web.jpg", :'data-original' => "../assets/img/content/jeanette-mccarthy-web.jpg", :alt => ""}/
                            .media-copy
                                %h2.text-meta-header{:href => "#"}
                                    %a{:href => "#"}
                                        Jeanette McCarthy

                                %p.sans
                                    Jeanette McCarthy is the editor-in-chief of Genome, an adjunct associate professor of community and family medicine at Duke University, and a visiting associate professor of medicine at the University of California San Francisco, Division of Medical Genetics.

                                .view-all
                                    %a.italic.serif{:href => "#"}
                                        View All Articles
                                        %span.double-quote-right
                                            &#187;

                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;
                    %li
                        .media-object-horizontal-layout
                            %header
                                %h4.text-meta-header Does a Raw Food Diet Help Prevent Heart Disease?
                                %p.text-meta-sub.light-text-color
                                    December 22, 2013
                            .media-copy
                                %p.text-meta-sub
                                    Good negotiators know that one of the trickiest aspects of their job is the timing of offers. As negotiations grind on, the costs of a stalemate rise on both sides. Yet if a settlement…

                                    %a.text-meta.continue-reading{:href => "#"}
                                        Continue Reading
                                        %span.double-quote-right
                                            &#187;







            -# Primary Aside Column
            = render 'aside-column-utility-nav'






