---
title: Utility - Contact
---

%section.primary_layout.article_layout.no-photo
    .inner-bounds.block.background-white


        .content-row
            -# Article Header
            %header.article-header

                %h2 Contact


        .content-row

            -# Primary Content Column + Article Body Copy
            %section.primary-content

                .vcard.dis-block
                    %span.org Big Science Media
                    %span.street-address 6900 Dallas Parkway
                    %span.street-address Suite 200
                    %span.locality.region.postal-code Plano, TX 75024

                %h4.small-block
                    Contact Info
                %p
                    Please send  story ideas to
                    %a{:href => "#"} editor@genomemag.com





            -# Primary Aside Column
            = render 'aside-column-utility-nav'






