
// General Structure ------------------



#site-wrap-outer {
  position: relative;
  // overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#site-wrap-inner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

// NOTE: Offset fixed navigation
#content-wrap {
  padding-top:$navbarHeight;
  height: auto !important;
}

.inner-bounds {
  // NOTE: Content is edge to edge unless given .inner-bounds
  // .inner-bounds also makes .paper-white fill parent height
  @include container;
  height:auto;

  // NOTE: Footer offset added below. Use this to remove it:
  &.remove-footer-offset {
    padding-bottom:0px
  }
}

.card-block {
  padding-top:42px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 60px;
  }
}
.card-inner-wrap {
    padding: 20px 18px;
}

.container {
  @include span-columns(12, $total);
}

.content-row {
    clear:both;
    @include clearlyFixed();
}

.block {
    padding-top: 50px !important;
}

.small-block {
  padding-top: 32px !important;
}

.end-block {
  padding-bottom: 96px !important;
}

.end-small-block {
  padding-bottom: 76px !important;
}

.add-bleed {
  margin-left: -1.6em;
  margin-right: -1.6em;
}



// Push Footer, Fill Parent ------------------
// body,html,#content-wrap,.inner-bounds {
//   height:100% !important;
//   width:100%;}

#header-nav-wrap,
#content-wrap {
  // min-height: 100%;
  // NOTE: Margin-bottom allows footer to peak above the fold on empty pages.
  // margin-bottom: - ($navbarHeight / 2) ;
  position: relative;
  z-index: 11;
}

#content-wrap, .inner-bounds {
  width:100%;
  height:100%;
  // NOTE: 40px to offset pulling footer up + 60px to add breathing room
  padding-bottom: $navbarHeight / 2;
  // @include susy-grid-background;
}

// Footer Settings depending on Skrollr.js loading
// .no-touch.skrollr {
//   #main-footer {
//     margin-top: - ($footerHeight / 2 ) - ($navbarHeight / 3.6) ;
//   }
// }

// .touch {
//   body {
//     height: auto;
//   }
  // #main-footer {
  //   margin-top: -$navbarHeight;
  // }
// }
