@charset "UTF-8";


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212120;
}

a {
  color: #5a5a5a;
  text-decoration: none;
  -webkit-transition: color .1s ease-in-out;
  transition: color .1s ease-in-out;
}

a:hover {
  color: #bababa;
}

::-moz-selection {
  color: #bababa;
  background: white;
}

::selection {
  color: #bababa;
  background: white;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -0.009em;
  line-height: 1.0625em;
}

.section-title {
  font-family: "ff-more-web-pro", serif;
  text-transform: uppercase;
}

.section-title span {
  color: #5a5a5a;
}

p {
  color: #010101;
  font-family: "ff-more-web-pro", serif;
  line-height: 1.25em;
}

p.lead {
  font-family: "ff-more-web-pro", serif;
  font-size: 1.125em;
  line-height: 1.1875em;
}

p.highlight {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 2.25em;
  line-height: 1.025em;
  color: #1cbadb;
}

p.lead-with-drop-cap:first-child:first-letter {
  font-family: "ff-more-web-pro", serif;
  float: left;
  line-height: .56em;
  padding: 24px 12px 0 0;
  color: #115e6f;
  font-size: 6.25em;
}

.article-body-copy p {
  line-height: 32px;
  font-size: 1.125em;
  margin-bottom: 32px;
}

.text-meta {
  margin: 0 auto 6px;
  color: #1cbadb;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.08em;
  display: inline-block;
}

.text-meta.brick {
  text-indent: 14px;
  position: relative;
}

.text-meta.brick:before {
  content: '';
  margin-left: -14px;
  top: 2px;
  position: absolute;
  height: 8px;
  width: 8px;
  background: #1cbadb;
}

.text-meta-sub {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 1em;
  line-height: 20px;
  margin: 2px auto 20px;
  display: block;
}

.text-meta-sub .small {
  font-size: 0.875em;
  line-height: 19px;
}

.text-meta-header {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 24px;
}

.text-meta-header.small {
  font-size: 1.25em;
  line-height: 20px;
}

.collection .section-title {
  font-size: 1.25em;
  line-height: 24px;
  margin-bottom: 20px;
}

.collection .text-meta-sub {
  font-size: 1em;
  line-height: 21px;
}

.text-meta-highlight {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  color: #115e6f;
}

.text-meta-highlight.light-contrast {
  font-weight: 400;
  color: #010101;
}

.featured-article .article-header {
  margin-top: -28px;
}

.photo-attrib {
  font-style: italic;
  font-size: 0.75em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: block;
}

hr {
  background: #010101;
  border: none;
  margin: 0 auto;
}

hr.primary {
  color: white;
  width: 140px;
  height: 1px;
}

hr .secondary {
  background: #efebe7;
  width: 130px;
  height: 10px;
}

time,
.icon.action {
  font-size: 0.8125em;
  line-height: 32px;
}

.icon.action {
  text-transform: uppercase;
}

body {
  position: relative;
  font-family: "franklin-gothic-urw", sans-serif;
  background: #efebe7;
  color: #010101;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.inner-bounds {
  *zoom: 1;
  max-width: 57.4em;
  _width: 57.4em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  margin-left: auto;
  margin-right: auto;
}

.inner-bounds:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
}

.content-row {
  clear: both;
  zoom: 1;
}

.content-row:before,
.content-row:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.content-row:after {
  clear: both;
}

.paper-white {
  background: white;
}

.block {
  padding-top: 64px;
}

.small-block {
  padding-top: 32px;
}

.end-block {
  padding-bottom: 160px;
}

.end-small-block {
  padding-bottom: 76px;
}

body,
html,
#content-wrap,
.inner-bounds {
  height: 100%;
  width: 100%;
}

#header-content-wrap,
#content-wrap {
  min-height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin-bottom: -40px;
  position: relative;
  z-index: 0;
}

#header-content-wrap:after,
#content-wrap:after {
  content: "";
  display: block;
}

#main-footer,
#header-content-wrap:after,
#content-wrap:after {
  height: auto;
}

#content-wrap,
.inner-bounds {
  z-index: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  width: 100%;
  padding-bottom: 40px;
}

header#header-wrap {
  background: white;
  border-bottom: 1px solid #b4b4b4;
  height: 80px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  position: relative;
  z-index: 1;
}

header#header-wrap .header-inner {
  *zoom: 1;
  max-width: 57.4em;
  _width: 57.4em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

header#header-wrap .header-inner:after {
  content: "";
  display: table;
  clear: both;
}

header#header-wrap .tagline {
  position: absolute;
  display: block;
  bottom: -27px;
  height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  font-family: "ff-more-web-pro", serif;
  background: #eaeaea;
  color: #5a5a5a;
  padding: 8px 16px;
  font-size: 0.6875em;
  letter-spacing: 0.04em;
}

header#header-wrap h1.logo {
  float: left;
  margin: 0;
  padding: 0;
}

header#header-wrap h1.logo a {
  margin: 16px auto 18px;
  background: url("/assets/img/logos/genome-logo.svg");
  height: 42px;
  width: 193px;
  display: inline-block;
}

header#header-wrap h1.logo span {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

header#header-wrap nav#main-navigation {
  float: right;
}

header#header-wrap nav#main-navigation ul.navigation-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header#header-wrap nav#main-navigation ul.navigation-list li {
  display: inline-block;
  padding: 4px 36px;
}

header#header-wrap nav#main-navigation ul.navigation-list li a {
  font-size: 0.875em;
  line-height: 5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

header#header-wrap .search {
  display: inline-block;
  margin: 0 -18px 0 76px;
}

#main-footer {
  background: url("/assets/img/patterns/footer-bg.jpg");
  width: 100%;
  position: relative;
  z-index: 1;
}

#main-footer .footer-content-wrap {
  *zoom: 1;
  max-width: 57.4em;
  _width: 57.4em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0 60px;
}

#main-footer .footer-content-wrap:after {
  content: "";
  display: table;
  clear: both;
}

#main-footer .col {
  width: 14.20664%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
}

#main-footer .col:first-child {
  margin-left: 25.73801%;
}

#main-footer a {
  color: white;
}

#main-footer a:hover {
  color: #1bb793;
}

#main-footer .social a {
  background-position-y: -77px;
}

#main-footer ul {
  border-top: 1px solid white;
  margin: 0;
  padding: 6px 0px;
}

#main-footer ul li {
  padding: 2px 0px;
}

#main-footer ul.social li {
  display: inline-block;
}

.primary_layout aside.aside-column-primary {
  width: 31.36531%;
  float: right;
  margin-right: 0;
  *margin-left: -1.6em;
  display: inline;
}

.primary_layout aside.aside-column-primary.flush-right {
  position: relative;
  top: -64px;
  margin-bottom: -64px;
  padding-bottom: 76px;
  width: 34%;
  margin-right: -1.6em;
}

.primary_layout aside.aside-column-primary.flush-right:before {
  content: '';
  position: fixed;
  top: 0;
  height: 100%;
  border-left: 2px solid #b4b4b4;
}

.primary_layout aside.aside-column-primary.flush-right .inner-column-wrap {
  padding: 0 18px;
}

.primary_layout aside.aside-column-primary.flush-right .card {
  margin: 0 -18px 0;
}

.primary_layout .primary-content {
  width: 65.68266%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
}

.featured_layout .primary-content {
  width: 82.84133%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
  display: block;
  float: none;
  margin: 0 auto;
}

.featured_layout .primary-content .primary-content-inner {
  width: 82.84133%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
  display: block;
  float: none;
  margin: 0 auto;
}

aside.aside-column-primary .aside-block {
  padding: 24px 0;
  display: block;
}

aside.aside-column-primary .aside-block.double-spaced {
  padding-top: 48px;
}

aside.aside-column-primary header.card .section-title {
  margin: 0 0 24px;
  font-size: 1.125em;
  letter-spacing: 0.032em;
}

aside.aside-column-primary .media-object.with-large-image img {
  width: 50%;
}

.article_layout {
  zoom: 1;
}

.article_layout:before,
.article_layout:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.article_layout:after {
  clear: both;
}

.article_layout header.article-header {
  width: 31.36531%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
  padding: 26px 0 16px;
}

.article_layout header.article-header p.lead {
  margin: 24px auto 12px;
}

.article_layout header.article-header .author-pic {
  margin: 32px auto 16px;
  position: absolute;
}

.article_layout header.article-header .author-attrib {
  margin: 0 auto 16px;
}

.article_layout header.article-header .article-meta {
  margin-top: 124px;
  border-top: 1px solid #b4b4b4;
}

.article_layout .article-photo.primary {
  width: 65.68266%;
  float: right;
  margin-right: 0;
  *margin-left: -1.6em;
  display: inline;
  position: relative;
}

.article_layout .article-photo-caption {
  width: 31.36531%;
  float: right;
  margin-right: 0;
  *margin-left: -1.6em;
  display: inline;
  display: block;
  margin-top: -2px;
}

.article_layout .article-body-copy {
  margin-top: -148px;
  /*temp*/
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 100%;
  left: 0;
  right: 0;
  background: #010101;
}

.smaller {
  font-size: 0.8125em;
  line-height: 16px;
}

.light-contrast {
  color: #bababa;
}

.circle {
  border-radius: 1000px;
}

.serif {
  font-family: "ff-more-web-pro", serif;
}

.sans {
  font-family: "franklin-gothic-urw", sans-serif;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
  margin: inherit auto;
}

.add-space-b {
  margin-bottom: 56px;
}

.add-space-t {
  margin-top: 56px;
}

.add-space-g {
  padding: 0 56px;
}

.article-meta .icon {
  display: inline-block;
}

.author-pic {
  width: 84px;
  height: 84px;
}

.card {
  background: #f3f3f3;
}

.card .card-inner-wrap {
  padding: 20px 18px;
}

.card .section-title {
  padding: 16px 18px 12px;
}

.card .section-title.tall {
  padding: 74px 18px 12px;
}

.tag {
  position: relative;
  background: white;
  padding: 8px 16px;
}

.featured-list {
  margin: 0;
  padding: 0;
}

.featured-list li {
  border-bottom: #bababa 1px solid;
}

.featured-list li:last-child {
  border-bottom: none;
}

.featured-list .view-all {
  margin: 40px auto -24px;
}

.media-object {
  margin: 8px 0;
}

.media-object.with-small-image img {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
}

.media-object.with-large-image {
  text-align: center;
}

.media-object.with-large-image img {
  margin: 0 auto 12px;
  display: block;
}

.media-object.reversed img {
  float: right;
}

.collection {
  /* NOTE: temporary? maybe move to js to align objects… */
}

.collection .media-copy {
  width: 77%;
  margin: 0 auto;
}

.collection .media-object {
  height: 314px;
}

.social-list {
  margin-top: 24px;
}

.social-list.inline-cards {
  background: #f3f3f3;
  display: table;
  width: 100%;
}

.social-list.inline-cards li {
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
  display: table-cell;
  text-align: center;
  border-right: 4px solid white;
}

.social-list.inline-cards li:last-child {
  border-right: none;
}

.social-list.inline-cards li a {
  margin: 14px auto;
}

.social-list.inline-cards li:hover {
  background: #3B5998;
}

.social-list.inline-cards li:hover a {
  background-position-y: -77px;
}

.social-list.inline-icons li {
  display: inline-block;
  margin: 14px auto;
}

.grid-3-per .grid-element {
  width: 31.36531%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
}

.grid-3-per .grid-element:nth-child(3n+1) {
  width: 31.36531%;
  float: right;
  margin-right: 0;
  *margin-left: -1.6em;
  display: inline;
}

.grid-2-per .grid-element {
  width: 48.52399%;
  float: left;
  margin-right: 2.95203%;
  display: inline;
}

.grid-2-per .grid-element:nth-child(odd) {
  width: 48.52399%;
  float: right;
  margin-right: 0;
  *margin-left: -1.6em;
  display: inline;
}

.icon {
  position: relative;
  display: block;
  text-align: center;
  background: url("/assets/img/icons/icon-sprite.svg");
}

.icon.action {
  text-indent: 22px;
  margin-right: 32px;
}

.icon.action.comment-count {
  height: 24px;
  width: 24px;
  background-position: -22px -243px;
}

.icon.action.print {
  height: 24px;
  width: 24px;
  background-position: 0 -243px;
}

.icon.search-glass {
  height: 22px;
  width: 24px;
  background-position: 0 -157px;
  top: 6px;
}

.icon.social {
  height: 22px;
  width: 24px;
}

.icon.facebook {
  background-position: 2px -109px;
}

.icon.twitter {
  width: 26px;
  background-position: -24px -109px;
}

.icon.linkedIn {
  background-position: 84px -109px;
}

.icon.googlePlus {
  background-position: 52px -109px;
}

.icon.email {
  background-position: 23px -109px;
}

.btn {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 28px 14px;
  min-width: 212px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  vertical-align: bottom;
  cursor: pointer;
  text-align: center;
  font-size: 1.125em;
  font-style: normal;
  font-family: "ff-more-web-pro", serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 400;
  border: 0;
  letter-spacing: .06em;
  line-height: 28px;
  margin: 16px auto;
}

.btn.primary {
  background: #1cbadb;
  color: white;
}

.btn.primary:hover {
  background: #1bb2d2;
}

.btn.compliment {
  background: #115e6f;
  color: white;
}

.btn.compliment:hover {
  background: #105766;
}