


-# Article Aside Column
%aside.primary-content-aside

    -# Social List
    %ul.social-list.inline-cards
        %li
            %a.social.icon.facebook{:href => "#"}
        %li
            %a.social.icon.twitter{:href => "#"}
        %li
            %a.social.icon.linkedIn{:href => "#"}
        %li
            %a.social.icon.googlePlus{:href => "#"}
        %li
            %a.social.icon.email{:href => "#"}


    .aside-block.double-spaced
        %header.card
            %h2.section-title
                Top
                %span
                    Stories

        %ul.featured-list
            %li
                .media-object.reversed.with-small-image
                    %a.text-meta{:href => "#"} Policy
                    %img{:src => "/assets/img/content/th-placeholder.jpg", :alt => "image title"}/
                    .media-copy
                        %h3.text-meta-header.small NSA and Online Medical Records Privacy
                        %p.text-meta-sub.light-contrast.small
                            By Author Rightspoke
                            %span.dot-divider
                            3 min read
            %li
                .media-object.reversed.with-small-image
                    %a.text-meta{:href => "#"} science
                    %img{:src => "/assets/img/content/th-placeholder-2.jpg", :alt => "image title"}/
                    .media-copy
                        %h3.text-meta-header.small Rewriting the Brain
                        %p.text-meta-sub.light-contrast.small
                            By Author Rightspoke
                            %span.dot-divider
                            3 min read

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small Changing the Face of Chemo
                        %p.text-meta-sub.light-contrast.small
                            Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.


    .aside-block
        %header.card
            %h2.section-title
                Print
                %span
                    Edition

        .media-object.with-large-image
            %img{:src => "/assets/img/content/cover-placeholder.jpg", :alt => "image title"}/
            %a.text-meta{:href => "#"} genome magazine
            .media-copy
                %h3.text-meta-header NSA and Online Medical Records Privacy
                %p.text-meta-sub.contrast
                    Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.


            %a.primary.btn{:href => "#"}  Subscribe

