


-# Aside Column - Home
%aside.aside-column-primary.flush-right

    .inner-column-wrap

        %header.card
            %h2.tall.section-title
                Current
                %span
                    Issue

        .media-object.with-large-image
            %img{:src => "/assets/img/content/cover-placeholder.jpg", :alt => "image title"}/
            %a.text-meta{:href => "#"} issue 01
            .media-copy
                %h3.text-meta-header Spring 2014
                %p.text-meta-sub.contrast
                    Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna
                    %a{:href => "#"} opus atlas.


            %a.primary.btn{:href => "#"}  Explore this Issue

        .aside-block
            %header.card
                %h2.section-title
                    Blog
                    %span
                        Stories

            %ul.featured-list
                %li
                    .media-object.reversed
                        %a.text-meta{:href => "#"} Policy
                        .media-copy
                            %h3.text-meta-header.small NSA and Online Medical Records Privacy
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                3 min read
                            %p.text-meta-sub
                                Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna…
                %li
                    .media-object.reversed
                        %a.text-meta{:href => "#"} science
                        .media-copy
                            %h3.text-meta-header.small Rewriting the Brain
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                3 min read
                            %p.text-meta-sub
                                Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna…

                %li
                    .media-object
                        %a.text-meta{:href => "#"} Treatment
                        .media-copy
                            %h3.text-meta-header.small Changing the Face of Chemo
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                5 min read
                            %p.text-meta-sub.small
                                Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.
                %li
                    .media-object
                        %a.text-meta{:href => "#"} Treatment
                        .media-copy
                            %h3.text-meta-header.small Fusce lobortis lorem at ipsum semper sagittis
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                9 min read
                            %p.text-meta-sub.small
                                Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem


                %li
                    .media-object
                        %a.text-meta{:href => "#"} Treatment
                        .media-copy
                            %h3.text-meta-header.small Vestibulum auctor dapibus neque
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                12 min read
                            %p.text-meta-sub.small
                                Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna…

                    .view-all
                        %a.italic.serif{:href => "#"}
                            View All &#187;

        .aside-block
            %header.card
                %h2.section-title
                    Web
                    %span
                        Exclusives

            %ul.featured-list
                %li
                    .media-object
                        %a.text-meta{:href => "#"} Treatment
                        .media-copy
                            %h3.text-meta-header.small Changing the Face of Chemo
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                5 min read
                            %p.text-meta-sub.small
                                Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.
                %li
                    .media-object
                        %a.text-meta{:href => "#"} Treatment
                        .media-copy
                            %h3.text-meta-header.small Fusce lobortis lorem at ipsum semper sagittis
                            %p.text-meta-sub.light-contrast.small
                                By Author Rightspoke
                                %span.dot-divider
                                9 min read
                            %p.text-meta-sub.small
                                Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem


                    .view-all
                        %a.italic.serif{:href => "#"}
                            View All &#187;



