


-# Aside Column - Article
%aside.aside-column-primary

    .aside-block.double-spaced

        %header.background-neutral
            %h2.section-title
                Top
                %span
                    Stories

        %ul.featured-list

            %li
                .media-object.reversed
                    %a.text-meta{:href => "#"} science
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => "#"}
                                Rewriting the Brain
                        %p.text-meta-sub.light-text-color
                            %a{:href => "#"}
                                By Author Rightspoke
                            %a{:href => "#"}
                                %span.icon{:'data-icon'=>"F"}
                                3 min read

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => ""}
                                Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color
                            %a{:href => "#"}
                                By Author Rightspoke
                            %a{:href => "#"}
                                %span.icon{:'data-icon'=>"F"}
                                3 min read

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => ""}
                                Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color
                            %a{:href => "#"}
                                By Author Rightspoke
                            %a{:href => "#"}
                                %span.icon{:'data-icon'=>"F"}
                                3 min read



