





-# Aside Column - Article
%aside.aside-column-primary

    .aside-block

        %ul.featured-list.slats.side-nav

            %li.active
                %a{:href => "#"} About Us
            %li
                %a{:href => "#"} Partners & Allies
            %li
                %a{:href => "#"} Contributors
            %li
                %a{:href => "#"} Media Kit
            %li
                %a{:href => "#"} Privacy Policy
            %li
                %a{:href => "#"} Contact Us
