


-# Aside Column - Article
%aside.aside-column-primary

    .aside-block.double-spaced
        %header.neutral-card
            %h2.section-title
                Top
                %span
                    Stories

        %ul.featured-list

            %li
                .media-object.reversed
                    %a.text-meta{:href => "#"} science
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => "#"}
                                Rewriting the Brain
                        %p.text-meta-sub.light-tint
                            By Author Rightspoke
                            53 shares

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => ""}
                                Changing the Face of Chemo
                        %p.text-meta-sub.light-tint
                            By Author Rightspoke
                            95 shares

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => ""}
                                Fusce lobortis lorem at ipsum semper sagittis
                        %p.text-meta-sub.light-tint
                            By Author Rightspoke
                            189 shares

            %li
                .media-object
                    %a.text-meta{:href => "#"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => ""}
                                Vestibulum auctor dapibus neque
                        %p.text-meta-sub.light-tint
                            By Author Rightspoke
                            120 shares


    .aside-block
        %header.neutral-card
            %h2.section-title
                Print
                %span
                    Edition

        .media-object.with-large-image
            %img{:src => "/assets/img/content/cover-placeholder.jpg", :alt => "image title"}/
            %a.text-meta{:href => "#"} genome magazine
            .media-copy
                %h3.text-meta-header NSA and Online Medical Records Privacy
                %p.text-meta-sub.contrast
                    Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.


            %a.primary.btn{:href => "#"}  Subscribe

