


-# Aside Column - Article
%aside.aside-column-primary

    .aside-block.double-spaced

        %header.background-neutral
            %h2.section-title
                Top
                %span
                    Stories

        %ul.featured-list

            %li
                .media-object.reversed
                    %a.text-meta{:href => "http://link/…"} science
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => "http://link/…"}
                                Rewriting the Brain
                        %p.text-meta-sub.light-text-color
                            %a{:href => "http://link/…"}
                                By Author Rightspoke
                            %a{:href => "http://link/…"}
                                %span.icon{:'data-icon'=>"F"}
                                %span.eta
                                3 min read

            %li
                .media-object
                    %a.text-meta{:href => "http://link/…"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => "http://link/…"}
                                Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color
                            %a{:href => "http://link/…"}
                                By Author Rightspoke
                            %a{:href => "http://link/…"}
                                %span.icon{:'data-icon'=>"F"}
                                %span.eta
                                3 min read

            %li
                .media-object
                    %a.text-meta{:href => "http://link/…"} Treatment
                    .media-copy
                        %h3.text-meta-header.small
                            %a{:href => "http://link/…"}
                                Changing the Face of Chemo
                        %p.text-meta-sub.light-text-color
                            %a{:href => "http://link/…"}
                                By Author Rightspoke
                            %a{:href => "http://link/…"}
                                %span.icon{:'data-icon'=>"F"}
                                %span.eta
                                3 min read



    .aside-block
        .collapse-area
            %header.background-neutral.collapse-header
                %h2.section-title
                    Print
                    %span
                        Edition

            .media-object.with-large-image.collapse-content
                %img{:src => "../assets/img/content/cover-placeholder.jpg", :alt => "image title"}/
                %a.text-meta{:href => "http://link/…"} genome magazine
                .media-copy
                    %h3.text-meta-header NSA and Online Medical Records Privacy
                    %p.text-meta-sub.contrast
                        Preasent dapibd, neque id curscu faucibu  torot neq e gasut auge, eiu vluate magna opus atlas.


                %a.primary.btn{:href => "http://link/…"}  Subscribe

