


-# Top Stories Collection
%section.collection.grid-2-per.small-block
    %header.card
        %h2.section-title
            Top
            %span
                Stories

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Research
        .media-copy
            %h3.text-meta-header Reworking Your Genetic Puzzle
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Science
        .media-copy
            %h3.text-meta-header The Doctor will see Your Family History Now
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Treatment
        .media-copy
            %h3.text-meta-header Changing the Face of Chemo
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Treatment
        .media-copy
            %h3.text-meta-header Changing the Face of Chemo
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Research
        .media-copy
            %h3.text-meta-header Reworking Your Genetic Puzzle
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Science
        .media-copy
            %h3.text-meta-header The Doctor will see Your Family History Now
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Treatment
        .media-copy
            %h3.text-meta-header Changing the Face of Chemo
            %p.text-meta-sub By Authur Righter

    .media-object.with-large-image.grid-element
        %img{:src => "/assets/img/content/th-feature-placeholder-slim.jpg", :alt => "image title"}/
        %a.text-meta{:href => "#"} Treatment
        .media-copy
            %h3.text-meta-header Changing the Face of Chemo
            %p.text-meta-sub By Authur Righter


    .content-row.center.end-small-block
        %a.compliment.btn{:href => "#"} View all Articles


