


-# Related Reading Collection
%section.collection.grid-3-per.with-dividers
    %h2.section-title.center
        Related
        %span
            Reading

    %hr.thick.neutral-light-bg.partial/

    .media-object.with-large-image.grid-element.popup-content
        %img{:src => "/assets/img/content/th-feature-placeholder.jpg", :alt => "image title"}/
        .popup-content-wrap
            .comment-counter-wrap
                %a.icon.comment-counter{:href => ""}
                    %span.value 6

            %a.text-meta{:href => "http://link/…"} Research

            %a.media-copy{:href => "http://link/…"}
                %h3.text-meta-header Reworking Your Genetic Puzzle
                %p.text-meta-sub.light-text-color By Authur Righter
                %p.text-meta-sub.light-text-color.sans-meta
                    Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


    .media-object.with-large-image.grid-element.popup-content
        %img{:src => "/assets/img/content/th-feature-placeholder-3.jpg", :alt => "image title"}/
        .popup-content-wrap
            .comment-counter-wrap
                %a.icon.comment-counter{:href => ""}
                    %span.value 6

            %a.text-meta{:href => "http://link/…"} Science

            %a.media-copy{:href => "http://link/…"}
                %h3.text-meta-header Rewriting the Brain
                %p.text-meta-sub.light-text-color By Authur Righter
                %p.text-meta-sub.light-text-color.sans-meta
                    A discussion of the original 1987 film considers its place in the canon of 1980s action films, and ponders whethe…


    .media-object.with-large-image.grid-element.popup-content
        %img{:src => "/assets/img/content/th-feature-placeholder-2.jpg", :alt => "image title"}/
        .popup-content-wrap
            .comment-counter-wrap
                %a.icon.comment-counter{:href => ""}
                    %span.value 6

            %a.text-meta{:href => "http://link/…"} Treatment

            %a.media-copy{:href => "http://link/…"}
                %h3.text-meta-header Changing the Face of Chemo
                %p.text-meta-sub.light-text-color By Authur Righter
                %p.text-meta-sub.light-text-color.sans-meta
                    Mauris suscipit ligula orci, eu pharetra nunc mattis in. Vestibulum tortor dolor…


