
.footer-content-wrap

    #subscribe-ad.show-for-print.content-row
        .grid-2-per.add-space-b
            .content-row
                %h2.section-title.sans.center
                    %span
                        Free
                    Home Subscription
                %hr.partial.thick/
            .content-row
                .grid-element
                    .image-content
                        %img{:src => "../assets/img/content/subscription-placeholder.jpg", :alt => "genome is the bomb-diggety"}/
                .grid-element.serif
                    %p.lead.emph
                        Quarterly Print Edition
                    %p
                        Quisque aliquam adipiscing arcu. Mauris vel nisi eget turpis feugiat sollicitudin sit amet eu elit. Donec nec purus nisl. Nulla vitae mi erat. Aenean faucibus, ligula eu consectetur porta.

                    %p.lead.italic.small-block
                        Subscribe online at:
                        %a{:href => "http://genomemag.com"}
                            www.genomemag.com



    .content-row.add-space-b
        %p.highlight.center.add-space-g
            Genome explores the world of personalized medicine and the genomic revolution that makes it possible, empowering you to make informed health decisions that will help you live better, longer.

            %a.small-block.show-for-print{:href => "http://genomemag.com"}
                www.genomemag.com

    .content-row.footer-site-map
        .col
            %ul
                %li
                    %a{:href => "http://link/…"} About Genome
                %li
                    %a{:href => "http://link/…"} Partners & Allies
                %li
                    %a{:href => "http://link/…"} Media Kit
        .col
            %ul
                %li
                    %a{:href => "http://link/…"} Privacy Kit
                %li
                    %a{:href => "http://link/…"} Terms & Conditions
                %li
                    %a{:href => "http://link/…"} Contact Us
        .col
            %ul.social-list.inline
                %li
                    %a{:href => "http://link/…", :'data-icon'=>"u"}
                %li
                    %a{:href => "http://link/…", :'data-icon'=>"v"}
                %li
                    %a{:href => "http://link/…", :'data-icon'=>"w"}
