%footer.article-footer

    .content-row
        %ul.meta-list.with-tags.inline.tags-compliment-bg
            %li.list-title
                .text-meta-highlight Condition:
            %li
                %a{:href => "http://link/…"} Heart Attack
            %li
                %a{:href => "http://link/…"} Heart Disease
            %li
                %a{:href => "http://link/…"} Dietary Issue

    .content-row
        %ul.meta-list.with-tags.inline.tags-primary-bg
            %li.list-title
                .text-meta-highlight Tags:
            %li
                %a{:href => "http://link/…"} Medicaid
            %li
                %a{:href => "http://link/…"} Insurance
            %li
                %a{:href => "http://link/…"} Diet
            %li
                %a{:href => "http://link/…"} Medicaid
            %li
                %a{:href => "http://link/…"} Insurance
            %li
                %a{:href => "http://link/…"} Diet
            %li
                %a{:href => "http://link/…"} Medicaid
            %li
                %a{:href => "http://link/…"} Insurance
            %li
                %a{:href => "http://link/…"} Diet

