%footer.article-footer.author-profile-object
    %img.author-pic.circle{:src => "../assets/img/content/author-placeholder.jpg", :alt => ""}/

    %a.author-attrib.text-meta-highlight{:href => "#"} By Author Righter

    %p Vestibulum adipiscing, enim vitae porttitor euismod, arcu justo adipiscing urna, in luctus urna turpis eget eros.

    .right
        %a{:href => "#"}
            View Articles &#187;