%header#header-wrap
    .header-inner
        %h1.logo
            %a{:href => "/", :'data-icon'=>"L"}
            %span Genome
        .tagline
            Your Health is Personal

        %nav#main-navigation
            %ul.navigation-list
                %li
                    %a{:href => "#"} newsletter
                %li
                    %a{:href => "#"} browse
                %li
                    %a.current{:href => "#"} subscribe

            .search
                %a.light-tint.search-glass{:href => "#", :'data-icon'=>"C"}
