%meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

%title
    = "Genome - #{@item[:title]}"

-# Meta Info
%meta{:property => "og:title", :content => "Genome Magazine"}
%meta{:property => "og:type", :content => "Website"}
%meta{:property => "og:image", :content => "../img/icons/og-facebook.jpg"}
%meta{:property => "og:url", :content => "/"}
%meta{:property => "og:site_name", :content => "Genome Magazine"}
%meta{:property => "og:author", :content => "Genome Magazine"}
%meta{:property => "og:description", :content => ""}
%meta{:name => "description", :content => ""}
%meta{:name => "keywords", :content => ""}
%meta{:name => "author", :content => ""}

-# Mobile
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no"}
%meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}


-# Favicon
%link{:href => "/assets/img/icons/favicon-152.png", :sizes => '152x152', :rel => "apple-touch-icon-precomposed"}
%link{:href => "/assets/img/icons/favicon-alt-32.png", :sizes => '32x32', :rel => "apple-touch-icon-precomposed"}
%link{:href => "/assets/img/icons/favicon-alt-16.png", :rel => "icon"}

-# FONTS
%script{:src => "//use.typekit.net/gzy0ghu.js"}
%script
    try{Typekit.load();}catch(e){}

-# Modernizr
%script{:src => "/assets/js/min/modernizr.min.js"}

-# CSS
%link{:rel => "stylesheet", :href => "/assets/css/genome-main.css"}

-# IE LT 9
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/assets/css/ie8.css" /><script src='../js/min/ie.min.js'></script><![endif]-->