%header#header-wrap
    .header-inner
        %h1.logo
            %a{:href => "/", :'data-icon'=>"L"}
            %span Genome
        .tagline
            Your Health is Personal

        %nav#main-navigation{:role => "navigation"}
            %ol.navigation-list
                .search
                    %a.light-tint.search-glass.overlay-view-search{:href => "#nav-search-box", :'data-icon'=>"C"}
                    #nav-search-box.form-box.mfp-hide.inner-bounds
                        %form{:action => ""}
                            %a.input-icon{:'data-icon'=>"C", :href=>"#"}
                            %input#search{:type => "text", :placeholder => "What were you looking for?"}/

                %li.nav-item.open-g-door
                    %a{:href => "#"} subscribe

                %li.nav-item
                    %a{href: "#"} browse

                    %ol
                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Issue
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li.view-all
                                    %a.italic.serif{:href => "#"}
                                        View All &#187;

                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Condition
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li.view-all
                                    %a.italic.serif.smaller{:href => "#"}
                                        View All &#187;

                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Topic
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic

                                %li.view-all
                                    %a.italic.serif.smaller{:href => "#"}
                                        View All &#187;



                %li.nav-item
                    %a{href: "#"} newsletter









