%meta{:charset => "utf-8", :"http-equiv"=>"Content-Type", :content=>"text/html"}

%title
    = "Genome - #{@item[:title]}"

%meta{:name => "description", :content => ""}
%meta{:name => "keywords", :content => ""}
%meta{:name => "author", :content => ""}

-# Mobile
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

-# Favicon
/ %link{:href => "../img/icons/favicon.ico", :rel => "shortcut icon"}

-# FONTS
%script{:src => "//use.typekit.net/gzy0ghu.js"}
%script
    try{Typekit.load();}catch(e){}

-# CSS
%link{:rel => "stylesheet", :href => "/assets/css/app.css"}

-# Modernizr
%script{:src => "/assets/js/min/modernizr.min.js"}

-# IE LT 9
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/assets/css/ie8.css" /><script src='../js/min/ie.min.js'></script><![endif]-->