%header#header-wrap
    .header-inner
        %h1.logo
            %a{:href => "/"}
            %span Genome
        .tagline
            Your Health is Personal

        %nav#main-navigation
            %ul.navigation-list
                %li
                    %a{:href => "#"} newsletter
                %li
                    %a{:href => "#"} browse
                %li
                    %a.current{:href => "#"} subscribe

            .search
                %a.search-glass.icon{:href => "#"}
