
%section#main-site-navigation-wrap
    .site-navigation-inner

        #toggle-offcanvas-nav.hide-above-tablet-p
            %a.light-text-color{:href => "#offcanvas-navigation", :'data-icon'=>"B"}


        .search
            %a.light-text-color.search-glass.overlay-view-search{:href => "#nav-search-box", :'data-icon'=>"C"}
            #nav-search-box.form-box.mfp-hide.inner-bounds
                %form{:action => ""}
                    %input.input-icon{:type => "submit", :value=>"search", :'data-icon'=>"C",}/
                    %input#search{:type => "text", :placeholder => "What were you looking for?"}/

        %header#site-title{:role => "banner"}
            %h1.logo
                %a{:href => "http://genome.com", :'data-icon'=>"L"}
                %span Genome
            .tagline
                Your Health is Personal


        %nav#main-navigation{:role => "navigation"}
            %ol.navigation-list

                %li.nav-item.hide-below-tablet-p.open-g-door
                    %a{href: "#"} newsletter
                %li.nav-item.hide-below-tablet-p
                    %a{:href => "#"} subscribe

                %li.nav-item.hide-below-tablet-p
                    %a{href: "#"} browse

                    %ol
                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Issue
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li.view-all
                                    %a{:href => "#"} View All &#187;

                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Condition
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic
                                %li.view-all
                                    %a{:href => "#"} View All &#187;

                        %li.nav-sub-item
                            %h3
                                %a{:href => "#"} By Topic
                            %ol
                                %li
                                    %a{:href => "#"} Lifestyle
                                %li
                                    %a{:href => "#"} Policy
                                %li
                                    %a{:href => "#"} Science
                                %li
                                    %a{:href => "#"} Treatment
                                %li
                                    %a{:href => "#"} Technology
                                %li
                                    %a{:href => "#"} Topic
                                %li
                                    %a{:href => "#"} Topic

                                %li.view-all
                                    %a{:href => "#"} View All &#187;





        %aside.add-social
            .addthis_toolbox.social-list
                %a.addthis_button_facebook{:href => "#", :'data-icon'=>"u"}
                    %span.line
                    %span.value Share
                %a.addthis_button_twitter{:href => "#", :'data-icon'=>"v"}
                    %span.line
                    %span.value Tweet
                %a.addthis_button_email{:href => "#", :'data-icon'=>"h"}
                    %span.line
                    %span.value Email

-# Mobile OffCanvas Nav
%nav#offcanvas-navigation.hide-above-tablet-p{:role => "navigation"}
    .offcanvas-inner
        %ol.navigation-list
            %li.nav-item.current
                %a{:href => "#"} newsletter

            %li.nav-item.collapse-area
                %header.collapse-header
                    .collapse-section-title browse
                %ol.collapse-content
                    %li
                        %a{:href => "https://www.google.com/"} By Issue
                    %li
                        %a{:href => "https://www.google.com/"} By Topic
                    %li
                        %a{:href => "https://www.google.com/"} By Condition

            %li.nav-item
                %a{href: "#"} subscribe

        %a#offcanvas-nav-close-btn{:href => "#main-site-navigation-wrap", :'data-icon' => 'D'}
