%header.hero.center.hero-article-title.background-size-full
    .story-cover-content.two-col-layout.inner-bounds.remove-footer-offset

        .align-middle.align-bottom
            .align-block
                .cover-content-inner{:'data-0'=>'top:0px;', :'data-500'=>'top:-60px;'}
                    .icon.play-video

                    .col
                        %h2
                            Breaking
                            %br/
                            the
                            %br/
                            Code

                    .col
                        %hr.neutral-bg/

                        %p.lead
                            How Personalized Medicine is developing health care tailored to your unique genetic blueprint — and how that affects you today.

                        %a.author-attrib.text-meta-highlight.primary-text-color{:href => "#"} By Big Science Media
                        %a.author-attrib.text-meta-highlight.primary-text-color{:href => "#"} Illustraion by Emiliano Ponzi

                    .content-row
                        %a.scroll-down-arrow{:href => "#scroll-here",:'data-icon' => "E"}


    .story-cover-image{:'data-0'=>'opacity:1;', :'data-140'=>'opacity:0;'}
    .story-cover-image-transition