%header.hero.hero-featured-article.background-size-full.center
    .story-cover-content.single-col-layout
        .align-middle
            .align-block
                %a.cover-content-inner{:href => "https://www.google.com/", :'data-0'=>'top:0px;', :'data-500'=>'top:-40px;'}
                    .text-meta.hr
                        issue 01

                    %h2
                        Targeted
                        %br/
                        Treatment

                    %hr.white-bg.partial/

                    %p.sans.lead
                        How Personalized Medicine is developing health care tailored to your unique genetic blueprint — and how that affects you today.

                    .author-attrib.text-meta-highlight By Author Righter


    %a.story-cover-hover-background{:href => "/article_feature"}
        .align-middle
            .align-block
                .story-cover-hover-content
                    %h2
                        Read This Cover Story
                        %span.read-this-arrow{:'data-icon' => "j"}


    .story-cover-image{:'data-0'=>'opacity:1;', :'data-140'=>'opacity:0;'}
    .story-cover-image-transition