-# Chapters Door
#newsletter-door.g-door
    .inner-bounds.block
        %h2.section-title.left.smaller
            Subscribe to Genome

        .search-box
            %form.search-form{:action => ""}
                %a.search-icon{:'data-icon'=>"h", :href=>"#"}
                %input#search{:type => "text", :placeholder => "jane@youremail.com"}/

        %a.close-g-door{:href => "#", :'data-icon'=>"a"}
            %span Close