-# Chapters Door
#newsletter-door.g-door
    .inner-bounds.block
        %h2.section-title.left.smaller
            Subscribe to Genome

        .form-box
            %form{:action => ""}
                %a.input-icon{:'data-icon'=>"h", :href=>"#"}
                %input{:type => "text", :placeholder => "jane@youremail.com"}/

        %a.close-g-door{:href => "x", :'data-icon'=>"a"}
            %span Close