-# Chapters Door
#newsletter-door.g-door
    .inner-bounds.block
        .grid-2-per.major-r
            .grid-element
                .g-door-image-content
                    %img{:src => "../assets/img/content/subscription-placeholder.jpg", :alt => "genome is the bomb-diggety"}/
            .grid-element
                %h2.section-title.left.smaller
                    Subscribe to Genome

                .form-box
                    %form{:action => ""}
                        %a.input-icon{:'data-icon'=>"K", :href=>"#"}
                        %input{:type => "text", :placeholder => "jane@youremail.com"}/

                %a.close-g-door{:href => "x", :'data-icon'=>"D"}