.article-meta
    .left
        By
        %a.emph{:href => "#"} Authur Righter
        %span.interpunct &#183
        %time December 22, 2013
    .right
        %a.action{:href=>"#1", :'data-icon'=>"p"} PRINT
        %span.ver-line &#124;
        %a.action{:href=>"#2", :'data-icon'=>"i"}
            888
            .comment-counter