.article-meta
    %time December 22, 2013
    %span.ver-line &#124;
    %a.action{:href=>"javascript:window.print()", :'data-icon'=>"p"} Print
    %span.ver-line &#124;
    %a.action{:href => "http://genome.telegraphcreative.co/genometest.disqus/index.html#disqus_thread", :'data-icon'=>"i"}
