.pagination-wrap
    %a.page-prev.directional-nav{:href => "#"}
        Older Entries
        %span{:'data-icon'=>"r"}

    %a.page-new.directional-nav{:href => "#"}
        Newer Entries
        %span{:'data-icon'=>"q"}

    %ol
        %li
            %a{:href => "#"} 1
        %li.current
            %a{:href => "#"} 2
        %li
            %a{:href => "#"} 3
        %li
            %a{:href => "#"} 4
        %li
            %a{:href => "#"} 5
        %li
            %a{:href => "#"} 6
        %li
            %a{:href => "#"} 7
        %li
            %a{:href => "#"} 8
        %li
            %a{:href => "#"} …
        %li
            %a{:href => "#"} 24
        %li
            %a{:href => "#"} 25
        %li
            %a{:href => "#"} 26
        %li
            %a{:href => "#"} 27
        %li
            %a{:href => "#"} 28




