.footer-inner-wrap
    .footer-content-wrap
        .footer-site-map
            .content-row
                .col
                    %ul
                        %li
                            %a{:href => "#"} About Genome
                        %li
                            %a{:href => "#"} Partners & Allies
                        %li
                            %a{:href => "#"} Media Kit
                .col
                    %ul
                        %li
                            %a{:href => "#"} Privacy Kit
                        %li
                            %a{:href => "#"} Terms & Conditions
                        %li
                            %a{:href => "#"} Contact Us
                .col
                    %ul.social
                        %li
                            %a.social.icon.facebook{:href => "#"}
                        %li
                            %a.social.icon.twitter{:href => "#"}
                        %li
                            %a.social.icon.linkedIn{:href => "#"}
