
.addthis_toolbox.social-list
    %a.addthis_button_facebook{:href => "#", :'data-icon'=>"u"}
        %span.line
        %span.value Share
    %a.addthis_button_twitter{:href => "#", :'data-icon'=>"v"}
        %span.line
        %span.value Tweet
    %a.addthis_button_linkedin{:href => "#", :'data-icon'=>"w"}
        %span.line
        %span.value LinkedIn
    %a.addthis_button_google_plusone_share{:href => "#", :'data-icon'=>"O"}
        %span.line
        %span.value Google Plus
    %a.addthis_button_email{:href => "#", :'data-icon'=>"h"}
        %span.line
        %span.value Email


-# .addthis_toolbox.social-list
-#     %a.addthis_button_facebook{:href => "#", :'data-icon'=>"u"}
-#         %span.line
-#         %span.value Share
-#     %a.addthis_button_twitter{:href => "#", :'data-icon'=>"v"}
-#         %span.line
-#         %span.value Tweet
-#     %a.addthis_button_email{:href => "#", :'data-icon'=>"w"}
-#         %span.line
-#         %span.value Email
