


// Responsive Layouts //




@include breakpoint(laptop) { // ---- Down from 1224 ----
    // Layout - HERO: ARTICLE TITLE
    // Avoid Col Collision
    .hero.hero-article-title {
        .col:last-child {
            @include span-columns(5 omega, $total);
        }
    }
}




@include breakpoint(ipad-portrait) { // ---- Down from 768px ----

    // Utilities: Hide/Show
    .hide-above-tablet-p {
        display: inherit !important;
    }
    .hide-below-tablet-p {
        display: none !important;
    }
    // ---- //


    // Layout - HEADER
    // See block-structure-header.scss
    // For OffCanvas, see block-structure-offcanvas.scss


    // Layout - BASIC ARTICLE
    .article_layout {

        // Full Bleed Items: REMOVE COLUMNS
        header.article-header,
        &.no-photo header.article-header,
        .article-photo-caption,
        .article-photo.primary {
            @include fullBleed;
        }

        // CORRECT MARGINS & PADDING afer REMOVING COLUMNS
        .article-photo-caption {
            margin-bottom: 32px;
        }

        // Flexible Height: Remove Min Heights
        header.article-header {
            min-height: 100% !important;
        }
    }
    //----//



    // Layout - PRIMARY
    .primary_layout {
        // Full Bleed Items: REMOVE COLUMNS
        aside.aside-column-primary,
        .primary-content {
            @include fullBleed;
        }
    }
    //----//



    // Layout - FEATURED Article
    .featured_layout {
        // Full Bleed Items: REMOVE COLUMNS
        .pull-out-right,
        .pull-out-left {
            @include fullBleed;
        }

            // CORRECT MARGINS & PADDING afer REMOVING COLUMNS

            // Pull Outs: Correct Padding
            .pull-out-right {
                padding: 32px 0;
            }

            .pull-out-left {
                padding:32px 16px 32px 0
            }


        // Center Elements
        .article-photo {
            text-align: center;
        }


    }
    // ---- //


    // Layout - HERO: ARTICLE TITLE
    // Center copy
    .hero.hero-article-title {
        h2,
        p.lead,
        .text-meta-highlight {
            text-align: center;

            br {
                display:none
            }
        }

        // Full Bleed Items: REMOVE COLUMNS
        .col, .col:last-child {
            @include fullBleed;
        }

        // CORRECT MARGINS & PADDING afer REMOVING COLUMNS
        h2 {
            margin-bottom: 24px;
        }
    }
    // ---- //



    // Layout - HEROS
    // Image Frame increase Height to prevent copy overflow
    .hero:not(.hero-slideshow-section) {
        .single-col-layout {
            @include fullBleed;
        }

        // Hero Typography - Adjust Fonts
        h2 {
            font-size: em-font(60px);
        }
        p.lead {
            font-size: em-font(20px);
        }

        // Hide Hover BG below iPad Portrait
        .story-cover-hover-background {
            display: none;
        }

    }
    // ---- //



    // Layout - HERO: ARTICLE SECTION
    // Fit Elements inside Image Frame
    .hero.hero-article-section {
        h2 {
            font-size: em-font(56px);
        }
        p {
            font-size: em-font(20px);
        }
    }
    // ---- //

    // FOOTER - single column
    #main-footer {
        .col, .col:first-child {
            @include span-columns(10, $total-columns);
            @include center-columns;
            text-align: center;
            margin: 16px auto;
            ul {
                padding: 16px 0;
            }
        }
    }
    // ---- //


}




@include breakpoint(small-tablet-portrait) { // ---- Down from 674px ----
    // Pagination
    .pagination-wrap ol {
        display: none;
    }
    // ---- //


}



@media only screen and (max-width: 512px) { // ---- Down from  ----
  .grid-2-per .grid-element:nth-child(odd),
  .grid-2-per .grid-element,
  .grid-2-per.major-r .grid-element,
  .grid-2-per.major-r .grid-element:last-child {
    @include fullBleed;
  }
}




@include breakpoint(phone) { // ---- Down from 480px ----

    // NOTE: Inner-bounds - adjust padding
    .inner-bounds {
        padding-left: 1em;
        padding-right: 1em;
    }
    // ---- //


    // NOTE: Search Box - adjust down
    .overlay-with-search-box #nav-search-box {
      padding-top:20%;
      width: auto;
    }
    // ---- //


    // NOTE: Section Titles with Bleed
    .section-header.add-bleed {
      margin-left: 0;
      margin-right: 0px;
    }
    // NOTE: Correct .interpunct Position on Touch Devices
    .touch .interpunct {
      top: -5px !important;
    }
    // NOTE: Hide tagline
    section#main-site-navigation-wrap.menu-slim .tagline {
        display: none;
    }


    // Layout - FEATURE
    .featured_layout {
        // Full Bleed Items: REMOVE COLUMNS
        .primary-content {
            @include fullBleed;
        }
    }
    //----//


    // Layout - GRID UTILITIES
    // Full Bleed Items: REMOVE COLUMNS
    .grid-3-per,
    .grid-2-per {
        .grid-element,
        .grid-element:nth-child(3n+2) {
            @include fullBleed;
        }
    }

    // Collection Items: Correct Height
    .collection {
        .media-object {
            height: auto;
        }
    }
    // ---- //


    // Article Meta: Avoid Collision by breaking to another line
    .article-meta .right {
        display: block;
        float:none;
        clear: both;
        line-height: 18px;
    }
    // ---- //

}
