


//  Buttons  //

.btn {
    transition: all .1s ease-in-out;
    user-select:none;
    box-sizing: border-box;
    padding: 1em 2em ;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: bottom;
    cursor: pointer;
    min-width: 64%;
    text-align: center;
    font-size: em-font(14px);
    font-style: normal;
    font-family: $sans;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    border:0;
    letter-spacing: .06em;
    line-height: 1.24em;
    margin: 0 auto;

    &.special {
        font-size: em-font(14px);
        padding: 20px 30px;
        font-style: italic;
        font-family: $serif;
        text-transform: capitalize;
        font-weight: 200;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow:hidden;

        // Icon Position & Size
        &:before {
            left: 0;
            top: -100%;
            position: absolute;
            height: 100%;
            width: 100%;
            line-height: 2.2em;
            font-size: 1.8em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        span {
            -moz-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transition: all 0.3s;
            height: 100%;
            width: 100%;
            display: inline-block;
        }


        // HOVER - See MQ below (add hover only for non-touch)

    }

    &.primary {
        background: $secondary;
        color: $primaryLight;

        &:hover {
            background: $primary;
        }

        &.special {
            &:hover {
                background: darken($secondary, 5%);
            }
        }
    }

    &.compliment {
        background: $compliment;
        color: $primaryLight;

        &:hover {
            background: darken($primary, 2%);
        }
    }

    &.neutral {
        background: $primaryText;
        color: $primaryLight;

        &:hover {
            background: darken($primaryText, 2%);
        }
    }


    &.media-action {
        @include rgba($primaryHeader, .8);
        color: $primaryLight;
        text-transform: capitalize;
        border: 1px solid $primaryLight;
        border:1px solid rgba(255, 255, 255, 0.6);
        padding:14px;
        font-size: em-font(16px);
        min-width: inherit;
        line-height: 1em;

        span {
            display: inline-block;
            margin-left: 30px;
        }

        &:hover {
            background: darken($primaryText, 2%);
            color: $primaryLight
        }

        &:not(.no-text):before {
            margin: -2px 0 0 0;
            position: absolute;
        }

        &.no-text {
            padding: 10px 9px 7px 10px;
        }

        &:before {
            font-size: em-font(20px);

        }

        // Adjust for Slide Show Icon
        &.slide {}

        // Adjust for Play Icon
        &.overlay-watch-video {
            &:before {
                font-size: em-font(28px);
                margin:-7px 0 0 0;
            }
        }
    }

    &.full-bleed {
        display: block;
        width: auto;
        font-style: normal;
        font-family: $sans;
        text-transform: uppercase;
        font-weight: 700;
    }

}




// MQs //
@include breakpoint(above-ipad-portrait) {

    .btn.special {
        // Icon on Hover becomes visible
        &:hover {
            span {
                transform: translate3d(0, 300%, 0);
            }
            &:before {
                top: 0px;
            }
        }
    }
}