


// Search Box Form

.search-box {
    .search-form {
        padding-top: 24px;
        clear: both;
        position: relative;

        // Add Search Icon
        .search-icon {
            position: absolute;
            width: inherit;
            right: 20px;
            z-index: 2;
            top: 45px;
        }
        input#search {
            // @include span-columns(7, $total);
            background: $secondaryBackground;
            font-family: $serif;
            font-style: italic;
            color: $primaryText;
            position: relative;
            z-index: 1;
        }

        input.btn.primary {
            font-style: normal;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $sans;
            padding: 8px 9px;
            min-width: auto;
            @include span-columns(3 omega, $total);
        }
    }
}

