


// Grid Utility Classes //
.grid-3-per {
    .grid-element {
        @include span-columns(4, $total);
        &:last-child {@include span-columns(4 omega, $total);}
    }
}

.grid-2-per {
    .grid-element {
        @include span-columns(6, $total);
        &:nth-child(odd) {@include span-columns(6 omega, $total);}
    }
}