


// Typography //

h1,h2,h3,h4,h5,h6 {
    color: $primaryHeader;
}


a {
    color: inherit;
    text-decoration:none;
    transition: color .1s ease-in-out;

    &:hover {
        color: $primaryLinkHover;
    }
}

::selection {
    color: $primaryLinkHover;
    background: $primaryLight;
}

h2 {
    font-size: em-font(42px);
    font-weight: 700;
    letter-spacing: -0.009em;
    line-height: 1em;
}

header.section-header {
    .section-title {
        font-size: .8125em;
        margin-bottom: 6px;
    }
}

.section-title {
    font-family: $serif;
    text-transform: uppercase;
    span {
        color: $secondaryBackgroundCompliment;
    }
}

p {
    color: $primaryText;
    font-family: $serif;
    line-height: 1.25em;


    // P Lead
    &.lead {
        font-family: $serif;
        font-size: em-font(18px);
        line-height: 1.125em;
    }

    // P Highlight
    &.highlight {
        font-family:$sans;
        font-size: em-font(36px);
        line-height: 1.125em;
        color: $secondary;
    }

    // P Drop Cap
    &.lead-with-drop-cap {
        &:first-child:first-letter {
            font-family: $serif;
            float: left;
            line-height: .56em;
            padding: 24px 12px 0 0;
            color: $secondary;
            font-size: em-font(100px);
        }
    }

    // P Lead In Caps
    span.lead-with-small-caps {
        font-size: 1.25em;
        margin: 0 6px 0 0;
        font-variant: small-caps;
        font-weight: 700;
    }
}

// Blockquote
blockquote {
    font-family: $serif;
    font-weight: 500;
    font-style: italic;
    font-size: em-font(30px);
    text-align: center;
    margin: 0 auto 24px;

    &.with-Qmark {
        position: relative;
        &:before {
            content:'\201C';
            position: absolute;
            font-size: em-font(30px);
            color: $primaryRule;
            left:-44px;
        }
    }
    &.Q-right {
        text-align: right;
        &:before {
            content:'\201D';
            right: -44px;
        }
    }
}

// Article Body P, .end-mark, H3
.article-body-copy {
    h3 {
        font-size: em-font(36px);
        font-weight: 700;
        letter-spacing: -0.009em;
        line-height: 1em;
        margin:0 0 16px;
    }

    p {
        line-height: 2em;
        font-size: em-font(18px);
        margin-bottom: 32px;
    }
    .end-mark {
        position: relative;
        top: 2px;
        left: 2px;
    }
}

// Text Meta
.text-meta {
    margin:0 auto 6px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-size: em-font(13px);
    letter-spacing: 0.08em;
    display: inline-block;

    &, a {
        color: $secondary;

        &:hover {
            color: $primaryLinkHover;
        }
    }

    // With Brick
    &.brick {
        text-indent: 14px;
        position: relative;

        &:before {
            content: '';
            margin-left: -14px;
            top:2px;
            position: absolute;
            height:8px;
            width:8px;
            background:$secondary;
        }
    }
    time {
        color: $primaryLink;
        font-weight: 200;
        margin-left: 4px;
    }
}

// Text Meta Sub
.text-meta-sub {
    font-family: $serif;
    font-style: italic;
    font-size: 0.825em;
    line-height:1em;
    margin: 6px auto 20px;
    display: block;
}

// Text Meta Sub - Sans
.sans-meta {
    font-style: normal;
    font-family: $sans;
    font-size: .875em;
    line-height: 1.25em;

    a {
        color: $secondary;
        &:hover {
            color: $primaryLinkHover;
        }
    }
}

// Text Meta Header
.text-meta-header {
    font-weight: 700;
    font-size: em-font(24px);
    line-height:24px;

    &.small {
        font-size: em-font(20px);
        line-height: 20px;
    }
}


// Meta Highlight/Contrast
.text-meta-highlight {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: em-font(16px);
    font-weight: 700;
    display: inline-block;
    color: $secondary;

    &.light-contrast {
        font-weight: 400;
        color: $primaryText;
    }
}



// Featured Article
.featured-article {
    h2 a {
        &:hover {
            color: $primaryLink;
        }
    }
    .tag {
        padding:26px 16px 20px 0px;
    }
    .text-meta-sub {
        font-size: em-font(20px);
        margin: 18px auto 26px;
    }

    p {
        font-family: $sans;
        line-height: 1.75em;
        font-size: 1.125em;
        margin:0 auto 16px;
    }
}


// Collection
.collection {
    .media-copy:hover {
        .text-meta-header,
        .text-meta-sub {
            transition: color .15s ease-in-out;
            color: $primaryLinkHover;
        }
    }
    .section-title {
        font-size: em-font(20px);
        line-height:1.25em;
        margin-bottom: 16px;
    }
}


// Hero
.hero-content {
    text-align: center;

    &, p, h2, .text-meta.hr {
        color: $primaryLight;
    }

    .text-meta-highlight {
        color: $primary;
    }

    .text-meta.hr {
        font-size: em-font(14px);
        padding-bottom: 6px;
        margin:0 auto 14px;
        border-bottom: 10px solid $primary;

    }

    h2 {
        font-size: em-font(80px);
        line-height: 0.9em;
    }

    p.lead {
        font-size: em-font(24px);
        margin: 0 auto 8px;

    }

    // Hero: Article Tot;e
    &.hero-article-feature {
        .text-meta-highlight {
            color: $primary;
        }
        hr {
            margin: 108px auto 16px;
        }
        p.lead {
            width: 78%;
            margin: 0 auto 8px;
        }
    }

    // Hero: Article Feature
    &.hero-article-section {

        .icon {
            margin-bottom: 16px;
            display: block;
            font-size: em-font(24px);
            color: $primaryText;
        }

        .text-meta-highlight {
            color: $primaryLight;
        }
        p.lead {
            width: 80%;
            margin: 40px auto 64px;
        }
        hr {
            margin: 36px auto;
        }
    }

    // Hero: Article Feature
    &.hero-article-title {
        h2 {
            text-align: left
        }
        p.lead {margin: 8px auto;}
        .text-meta-highlight, p.lead {text-align:left;}
        .text-meta-highlight {display: block;line-height:1.125em;}
    }
}



// Photo Attribution
.photo-attrib {
    font-style:italic;
    font-size: em-font(12px);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: block;
}



// HR Rules
hr {
    background: $primaryText;
    border: none;
    margin: 0 auto;
    height: 1px;
    width:100%;
    margin-bottom: 2em;

    &.light {
        background: $primaryLight;
    }

    &.neutral {
        background: $primaryLinkHover;
    }

    &.neutral-light {
        background: $primaryRule;
    }

    &.partial {
        width: 140px;
    }

    &.thick {
        height: 10px;
    }

    &.brick {
        height: 8px;
        width: 8px;
    }

}


// Article Meta
.article-meta {
    font-size: em-font(13px);
    line-height: 32px;

    &, a {color: $primaryLinkHover;
    }
    [data-icon]:before {margin-right: 4px;}
    a:hover {
        color: $primaryLink;
    }
}


// Article Meta Utilities
.action {
    text-transform: uppercase;

    &[data-icon]:before {
        padding-right:4px;
    }
    // Correct Comment Bubble Spacing
    &[data-icon=i]:before {
        position: relative;
        top:2px;
    }
}
