


// Typography //

h1,h2,h3,h4,h5,h6 {
    color: $primaryHeader;
}


a {
    color: $primaryLink;
    text-decoration:none;
    transition: color .1s ease-in-out;

    &:hover {
        color: $primaryLinkHover;
    }
}

::selection {
    color: $primaryLinkHover;
    background: $primaryLight;
}

h2 {
    font-size: em-font(36px);
    font-weight: 700;
    letter-spacing: -0.009em;
    line-height: em-font(17px);
}

.section-title {
    font-family: $serif;
    text-transform: uppercase;
    span {
        color: $primaryLink;
    }
}

p {
    color: $primaryText;
    font-family: $serif;
    line-height: 1.25em;


    // P Lead
    &.lead {
        font-family: $serif;
        font-size: em-font(18px);
        line-height: em-font(19px);
    }

    // P Highlight
    &.highlight {
        font-family:$sans;
        font-size: em-font(36px);
        line-height: 1.025em;
        color: $secondary;
    }

    // P Drop Cap
    &.lead-with-drop-cap {
        &:first-child:first-letter {
            font-family: $serif;
            float: left;
            line-height: .56em;
            padding: 24px 12px 0 0;
            color: $compliment;
            font-size: em-font(100px);
        }
    }
}

// Article Body P
.article-body-copy {
    p {
        line-height: 32px;
        font-size: em-font(18px);
        margin-bottom: 32px;
    }
}

// Text Meta
.text-meta {
    margin:0 auto 6px;
    color: $secondary;
    font-weight: 700;
    text-transform: uppercase;
    font-size: em-font(12px);
    letter-spacing: 0.08em;
    display: inline-block;

    // With Brick
    &.brick {
        text-indent: 14px;
        position: relative;

        &:before {
            content: '';
            margin-left: -14px;
            top:2px;
            position: absolute;
            height:8px;
            width:8px;
            background:$secondary;
        }
    }
}

// Text Meta Sub
.text-meta-sub {
    font-family: $sans;
    font-size: em-font(16px);
    line-height:20px;
    margin: 2px auto 20px;
    display: block;

    .small {
        font-size: em-font(14px);
        line-height:19px;
    }
}

// Text Meta Header
.text-meta-header {
    font-weight: 700;
    font-size: em-font(24px);
    line-height:24px;

    &.small {
        font-size: em-font(20px);
        line-height: 20px;
    }
}

// Collection
.collection {
    .section-title {
        font-size: em-font(20px);
        line-height:24px;
        margin-bottom: 20px;
    }
    .text-meta-sub {
        font-size: em-font(16px);
        line-height:21px;
    }
}

// Text Highlight
.text-meta-highlight {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: em-font(16px);
    font-weight: 700;
    display: inline-block;
    color: $compliment;

    &.light-contrast {
        font-weight: 400;
        color: $primaryText;
    }
}


// Featured Article
.featured-article {
    // NOTE: Pull up .tag and .article-header
    .article-header {
        margin-top: -28px;
    }

}


// Photo Attribution
.photo-attrib {
    font-style:italic;
    font-size: em-font(12px);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    display: block;
}



// HR Rules
hr {
    background: $primaryText;
    border: none;
    margin: 0 auto;

    &.primary {
        color: $primaryLight;
        width: 140px;
        height: 1px;
    }

    .secondary {
        background: $primaryBackground;
        width:130px;
        height: 10px;
    }
}


// Article Meta Utilities
time, .icon.action {
    font-size: em-font(13px);
    line-height: 32px;
}

.icon.action {
    text-transform: uppercase;
}
