


// Slideshow //

// Inline Slideshow

.slideshow {
    position: relative;

    li {
        position: relative;
    }

    // Figcaption
    figcaption {
        position: absolute;
        left:0;
        right:0;
        bottom:3px;
        background: $primaryText;
        color: $primaryLight;
        padding: 16px 76px;
    }
}

.flex-direction-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    li {
        height: 99.4%;
        display: inline-block;
        position: absolute;


        &.flex-prev-wrap {
            left:0;
        }
        &.flex-next-wrap {
            right:0;
        }

        a {
            display: block;
            height: 100%;
            min-width: 32px;
            transition: background .15s ease-in-out;

            // Prev/Next
            span {
                position: relative;
                top: 50%;
                display: block;
                padding: 0 16px;
                transition: color .15s ease-in-out;

                &[data-icon]:before {
                    font-size: em-font(32px);
                }
            }

        }
    }

    // Hover on Slideshow
    &:hover {
        li a {
            @include rgba($primaryText, .5);
        }
    }

    // Prev/Next
    li:hover a span {
        color: $primaryLight;
    }
}


