


//  Buttons  //

.btn {
    transition: all .1s ease-in-out;
    user-select:none;
    box-sizing: border-box;
    padding: 8px 40px 6px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: bottom;
    cursor: pointer;
    text-align: center;
    font-size: em-font(18px);
    font-style: normal;
    font-family: $serif;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    border:0;
    letter-spacing: .06em;
    line-height: 28px;
    margin: 16px auto;

    &.primary {
        background: $secondary;
        color: $primaryLight;

        &:hover {
            background: darken($secondary, 2%);
        }
    }
}


