


//  Buttons  //

.btn {
    transition: all .1s ease-in-out;
    user-select:none;
    box-sizing: border-box;
    padding: 16px 28px 14px;
    min-width: 212px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: bottom;
    cursor: pointer;
    text-align: center;
    font-size: em-font(18px);
    font-style: normal;
    font-family: $serif;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 400;
    border:0;
    letter-spacing: .06em;
    line-height: 28px;
    margin: 0 auto;

    &.primary {
        background: $secondary;
        color: $primaryLight;

        &:hover {
            background: darken($secondary, 2%);
        }
    }

    &.compliment {
        background: $compliment;
        color: $primaryLight;

        &:hover {
            background: darken($compliment, 2%);
        }
    }

    &.neutral {
        background: $primaryText;
        color: $primaryLight;

        &:hover {
            background: darken($primaryText, 2%);
        }
    }


    &.media-action {
        @include rgba($primaryHeader, .8);
        color: $primaryLight;
        border: 1px solid $primaryLight;
        border:1px solid rgba(255, 255, 255, 0.6);
        padding:12px 16px 10px;
        min-width: inherit;

        &:hover {
            background: darken($primaryText, 2%);
        }

        &:not(.no-text)[data-icon]:before {
            margin-right: 8px;
        }

        &.no-text {
            padding: 10px 9px 2px 10px;
        }
    }

    &.full-bleed {
        display: block;
        width: auto;
        font-style: normal;
        font-family: $sans;
        text-transform: uppercase;
        font-weight: 700;
    }

}


