



// Utility Classes //
.smaller {
    font-size: em-font(14px) !important;
    line-height:1em !important;
}

.larger {
    font-size: em-font(20px) !important;
}

.light-tint {
    color: $secondaryBackgroundCompliment;
}

.primary-tint {
    color: $primary;
}

.secondary-tint {
    color: $secondary;
}

.circle {
    border-radius: 1000px;
}

.emph {
    font-weight: 700;
}

.serif {
    font-family: $serif !important;
}

.sans {
    font-family: $sans !important;
}

.sans-normal {
    font-family: $sans !important;
    font-style: normal !important;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
    margin: inherit auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

// Pull Outs
.pull-out-left {
    float: left;
    display: inline;
    width: 390px;
    text-align: left;
    box-sizing: border-box;
    padding: 32px 16px 0 0;
}
.pull-out-right {
    float: right;
    display: inline;
    width: 390px;
    box-sizing: border-box;
    padding: 32px 0 16px 24px;
}
.small-pull {
    width: 300px;
}
.big-pull {
    width: 490px;
    padding: 32px 0 20px 32px;
    .article-photo-caption {
        margin-bottom:0;
    }
}

.inline-block {
    display:inline-block;
}

.add-space-b {
    margin-bottom: 56px;
}

.add-space-t {
    margin-top: 56px;
}

.add-small-space-t {
    margin-top: 20px;
}

.add-padding-b {
    padding-bottom: 42px;
}

.add-padding-t {
    padding-top: 42px;
}

// Gutter Padding
.add-space-g {
    padding: 0 56px;
}

// Author Pic
.author-pic {
    width: 84px;
    height: 84px;
}

// Article Caption
.article-photo-caption {
    margin-bottom: 24px;
    p {
        margin-bottom:0;
    }

    // Article Photo with Border
    &.with-bottom-border {
        border-bottom: 1px solid $primaryRule;
        padding-bottom: 8px;
    }

}





// Article Photos, Media Buttons
.article-photo {
    position: relative;
    &.with-bottom-border {
        border-bottom: 1px solid $primaryRule;
        padding-bottom: 40px;
        .btn.media-action {
            bottom:56px;
        }
    }

    // Article Photo with Border
    &.with-top-border {
        border-top: 1px solid $primaryRule;
        padding-top: 40px;
    }
    .btn.media-action {
        position: absolute;
        bottom: 12px;
        display: block;
        left: 24px;
        &.no-text {
            left:12px;
        }
    }
}



// Cards
.paper-white-card {
    background: $primaryLight;
}
.neutral-card {
    background: $secondaryBackground;
    .card-inner-wrap {
        padding: 20px 18px;
    }
    .section-title {
        padding: 16px 18px 12px;
    }
}


// Featured List
.featured-list {
    @include noMarPad;

    &:not(.author-list) li {
        border-bottom: $primaryLinkHover 1px solid;
    }

    .view-all {
        padding:24px 0 0;
    }
}

// Roll List
.roll-list {
    li {
        margin: 0 auto 24px;
        header .text-meta {
            color: $secondaryBackgroundCompliment;
            &:hover {color:$primaryLinkHover;}
        }
        .media-copy {
            .text-meta-sub {
                font-family: $sans;
                font-style: normal;
                font-size: em-font(16px);
                line-height: 1.375em;
                .text-meta {
                    margin-top: 12px;
                    display: block;
                }
            }
        }

    }
}



// Media Object
.media-object {
    margin: 8px 0;

    &.with-small-image {
        img {
            float:left;
            display: block;
            width: 64px;
            height:64px;
        }
    }

    &.with-large-image {
        text-align: center;
        img {
            margin: 0 auto 12px;
            display: block;
        }
    }


    &.reversed {
        img {
            float: right;
            margin-left: 12px;
        }
    }
}

// Media Object - Author Type
.media-object.author-type {
    text-align: center;

    .author-pic {
        height: 125px;
        width: 120px;
        margin: 0 auto;
    }
    .author-attrib {
        font-size: em-font(18px);
        line-height: .75em;
        text-transform: uppercase;

    }
    .author-attrib, .text-meta-sub {
        transition: color .15s ease-in-out;
    }
    a:hover {
        .author-attrib, .text-meta-sub {color: $secondary;}
    }
}

// Media Object Horizontal Layout
.media-object-horizontal-layout {
    @include clearlyFixed;

    .image-content {
        position: relative;
        margin-bottom: 24px;
    }
    .comment-counter-wrap {
        bottom: -28px;
        top: inherit;
    }
}


// Collection
.collection {
    // padding-top: 76px;
    .media-copy {
        width: 77%;
        margin: 0 auto;
    }

    hr {
        margin-bottom: 20px;
    }

    .media-object {
        text-align: left;
        position: relative;
        height: 18em;
        overflow: hidden;
    }

    // Add Divider Lines
    &.with-dividers .media-object {
        &:before {
            content:'';
            position: absolute;
            left: -14px;
            height: 100%;
            width: 1px;
            background: $primaryRule;
        }
    }
    .media-object:nth-child(3n) {
        &:before {width:0px;}
    }
}

// Author Profile Object
.author-profile-object {

    .author-pic {
        float: left;
        margin-right: 16px;
    }
    .author-attrib {
        margin: 8px 0 0;
    }
}

// Social Lists
.social-list {
    margin-top: 24px;

    &.inline-icons {
        li {
            display: inline-block;
            margin: 14px auto;
        }
    }

}


// Comment Counter
.comment-counter-wrap {
    display: block;
    text-align: center;
    margin-bottom:18px;
    position: absolute;
    width: 100%;
    top: -20px;
}
.icon.comment-counter {
    background: $primaryText;
    padding: 7px 12px;
    text-align: center;
    display: inline-block;
    position: relative;
    color: $primaryLight;
    font-weight: 700;
    transition: background .15s ease-in-out;



    &:after {
        border-top: 10px solid $primaryText;
        border-left: 10px solid $primaryText;
        border-bottom: 10px solid $primaryLight;
        position: absolute;
        top: 20px;
        left: 9pxpx;
        z-index: 2;
        height: 0px;
        width: 0px;
        display: block;
        content: '';
        transition: border .15s ease-in-out;
    }

    &:hover {
        background: $secondary;
        &:after {
            border-top: 10px solid $secondary;
            border-left: 10px solid $secondary;
            border-bottom: 10px solid $primaryLight;
        }
    }
}


// Collection Popup Content
.popup-content.media-object.with-large-image {
    .popup-content-wrap {
        position: relative;
        padding: 22px 6px 12px;
        background:$primaryLight;
        transition: transform .2s ease-in-out .15s;
    }

    img {
        margin-bottom:0px;
        width:100%; /*temp*/
    }

     p.sans-meta {
        opacity: 0;
        transition: opacity .5s ease-in-out .25s;
    }

    &:hover {
        .popup-content-wrap {
            transform: translateY(-100px);
        }
        .text-meta-header {
            color: $primaryLink;
        }

         p.sans-meta {
            opacity: 1;
        }

        .icon.comment-counter {
            background: $secondary;
            &:after {
                border-top: 10px solid $secondary;
                border-left: 10px solid $secondary;
                border-bottom: 10px solid $primaryLight;
            }
        }
    }
}

@keyframes bump-up {
  0% { transform: translateY(0px) }
  100% { transform: translateY(-100px) }
}
@keyframes bump-down {
  0% { transform: translateY(-100px) }
  100% { transform: translateY(-0px) }
}



// Addthis Social List (Custom Styles)
.addthis_toolbox {
    display: table;
}
.addthis_button_facebook,
.addthis_button_twitter,
.addthis_button_email {
    display: table-cell;
    transition: background .1s ease-in-out;
    text-align: center;
    color: $primaryLight !important;
    background: $secondaryBackground;
    font-size: em-font(12px);
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: .1em;
    padding: 8px 14px;
    border-right: 4px solid $primaryLight;

    &:hover {
        background: $primaryBackground;
    }

    span.line {
        height: 100%;
        width: 1px;
        background: $primaryLight;
        top: 0px;
        left: 0px;
        position: relative;
        display: inline-block;
    }

    span.value {
        position: relative;
        top: -9px;
        left: 4px;
    }

    &[data-icon]:before {
        font-size: em-font(30px);
        position: relative;
        top: -2px;
        left:  -4px;
    }
}

.addthis_button_facebook {
    background: $facebook;
    &:hover {
        background: darken($facebook, 8%);
    }
}

.addthis_button_twitter {
    background: $twitter;
    &:hover {
        background: darken($twitter, 8%);
    }
}

.addthis_button_email {
    color: $primaryLink !important;
    border-right: none;


    span.line, span.value {display:none;}


    &[data-icon]:before {
        top: auto;
        left: auto;
    }
}

// Expanded
 .expanded {
    .addthis_button_email {
        span.line {
            background: $primaryLink;
        }
        span.line, span.value {display:inline-block;}

        &[data-icon]:before {
            top: -2px;
            left:  -4px;
        }
    }
 }

// Facebook Counter
.addthis_counter_facebook {
    .addthis_button_facebook {
        display: block;
        background: transparent;
        border: 0px
    }
}



// Text Dividers
.interpunct {
    padding: 0 2px;
    display: inline-block;
    font-size: 2em;
    top: 3px;
    line-height: 0px;
    position: relative;
}
.ver-line {
    padding: 0 3px;
    display: inline-block;
    font-size: 1em;
    top:-2px;
    position: relative;
}


// Collapsable Sections
.collapse {
    header {
        position: relative;
        outline: none;

        .toggle-icon {
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 1.75em;
            padding: 0px;
            margin: -14px 14px 0 0;
            -webkit-transform: rotate(90deg);
            color: $secondaryBackgroundCompliment;
            transition: transform .4s ease-in-out;
        }

        &.ui-accordion-header-active {
            .toggle-icon {
                -webkit-transform: rotate(-90deg);
            }
        }
    }
}