
// General Structure ------------------

// html {-webkit-backface-visibility:hidden;}

body {
    position: relative;
    font-family: $sans;
    background: $primaryBackground;
    color: $primaryText;
    -webkit-font-smoothing: antialiased;

}

img {
    max-width: 100%;
}

// NOTE: Offset fixed navigation
#content-wrap {padding-top:80px;}

.inner-bounds {
  // NOTE: Content is edge to edge unless given .inner-bounds
  // .inner-bounds also makes .paper-white fill parent height
  @include container;
}

.container {
  @include span-columns(12, $total);
}

.content-row {
    clear:both;
    @include clearlyFixed();
}

.paper-white {
    background: $primaryLight;
}

.block {
    padding-top: 50px !important;
}

.small-block {
  padding-top: 32px !important;
}

.end-block {
  padding-bottom: 160px !important;
}

.end-small-block {
  padding-bottom: 76px !important;
}

.add-bleed {
  margin-left: -1.6em;
  margin-right: -1.6em;
}



// Push Footer, Fill Parent ------------------
body,html,#content-wrap,.inner-bounds {height:100%; width:100%;}

#header-content-wrap,
#content-wrap {
  min-height: 100%;

  // NOTE: Flex allows #content-wrap (.paper-white) to fill this parent.
  // Fallback IE - #content-wrap declares a min-height
  // http://css-tricks.com/almanac/properties/f/flex-direction/

  // display: -webkit-flex;
  // display: -ms-flex;
  // display: flex;
  // -webkit-flex-direction: column;
  // -ms-flex-direction: column;
  // flex-direction: column;

  // NOTE: Margin-bottom allows footer to peak above the fold on empty pages.
  // Offset Necessary - #content-wrap declares padding-bottom so content doesn't flow past footer
  // Z-Index Necessary - 0: #header-content-wrap, 1: #main-footer, #header-wrap, #content-wrap

  margin-bottom: -40px;
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    display: block;
  }
}

#main-footer, #header-content-wrap:after, #content-wrap:after {
  height: auto;
}

#content-wrap, .inner-bounds {
  z-index: 0;
  // -webkit-flex: 1;
  // -ms-flex: 1;
  // flex: 1;

  width:100%;
  // NOTE: 40px to offset pulling footer up + 60px to add breathing room

  padding-bottom: 40px;
  // @include susy-grid-background;
}



