

// Structure Header ------------------
header#header-wrap {
    background: $primaryLight;
    border-bottom: 1px solid $primaryRule;
    height:80px;
    @include clearfix();
    overflow: visible;
    position: relative;
    z-index: 1;

    .header-inner {
        @include container;
        position: relative;
    }

    .tagline {
        position: absolute;
        display: block;
        bottom: -27px;
        height: 25px;
        @include box-sizing(border-box);
        z-index: 2;
        font-family: $serif;
        background: #eaeaea;
        color: $primaryLink;
        padding: 8px 16px;
        font-size: em-font(11px);
        letter-spacing: 0.04em;
    }
    // Logo
    h1.logo {
        float:left;
        margin: 0;
        padding: 0;

        a {
            margin: 16px auto 18px;
            background: $mainLogoSVG;
            height:42px;
            width:193px;
            display: inline-block;
        }
        span {
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }

    // Nav
    nav#main-navigation {
        float: right;

        ul.navigation-list {
            display: inline-block;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 4px 36px;

                a {
                    font-size: em-font(14px);
                    line-height: em-font(80px);
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                }
            }
        }
    }

    // Search
    .search {
        display: inline-block;
        margin: 0 -18px 0 76px;
    }
}
