

// Structure Header ------------------
section#main-site-navigation-wrap {
    background: $primaryLight;
    border-bottom: 1px solid darken($primaryRule, 15%);
    height:80px;
    width: 100%;
    @include clearfix();
    overflow: visible;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.16);
    transition: height .4s ease-in-out,
                    transform 0.25s ease-in-out;

    .site-navigation-inner {
        @include container;
        // NOTE: Remove padding from Container, add it back on the Logo, Tagline and Search.
        // This allows the Drop Menu to span full bleed.
        position: relative;
        padding-left:0;
        padding-right:0;
        height:80px;
    }

    .tagline, h1.logo {
        left: 1.6em;
    }

    .tagline {
        -webkit-font-smoothing: initial;
        position: absolute;
        display: block;
        bottom: -25px;
        height: 25px;
        @include box-sizing(border-box);
        z-index: 2;
        font-family: $serif;
        background: $primaryText;
        color: $primaryLight;
        padding: 4px 16px;
        font-size: em-font(11px);
        letter-spacing: 0.04em;
        transition: all .4s ease-in-out;
    }
    #site-title {
        transition: all .1s ease;
    }

    // Logo
    h1.logo {
        float:left;
        margin: 0;
        padding: 0;
        height:80px;
        overflow: hidden;
        position: absolute;
        z-index: 2;

        a {
            font-size: 12em;
            margin: 0;
            height:42px;
            width:193px;
            line-height: 0;
            display: inline-block;
            color: $primaryText;
            position: relative;
            top: -60px;
            transition: color .15s ease-in-out,
                        top .4s ease-in-out,
                        font-size .4s ease-in-out;

            &:hover {
                color: $primaryLink;
            }
        }
        span {
            display: none;
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }

    // Nav
    nav#main-navigation {
        position: relative;
        z-index: 1;

        ol.navigation-list {
            position: relative;
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 100%;
            transition: opacity .4s ease 0s;

            > li {
                display: inline-block;
                float: right;

                > a {
                    padding: 0px 36px;
                    color: $primaryLink;
                    font-size: em-font(14px);
                    line-height: em-font(86px);
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    transition: line-height .4s ease-in-out;

                    &:hover {
                        color:$primaryLinkHover;
                    }
                }
            }
        }
    }

    // Search & Toggle Off Canvas
    .search, #toggle-offcanvas-nav {
        display: inline-block;
        margin: 0;
        display: inline-block;
        box-sizing: border-box;
        list-style: none;
        line-height: 77px;
        float:right;
        transition: line-height .4s ease-in-out;

        a {
            padding: 0 1em 0 1em;
            &:hover {
                color:$secondary;
                background: transparent !important;
            }
        }
    }

    // Hide Add Social
    aside.add-social {
        @include opacity(0);
        transition: opacity .4s ease 0s;
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 0;
    }

    // Toggle Off Canvas
    #toggle-offcanvas-nav {
        float:left;
        position: absolute;
        z-index: 2;
        line-height: 64px;
        padding: 0 1em 0 1em;
        margin:0;
    }

    // Slim Navigation: Decrease Height
    &.menu-slim {
        height: 60px;

        // Logo: smaller and pull up for new height
        h1.logo {
             a {
                font-size: 8em;
                top: -36px;
            }
        }

        // Tagline: pull up for new height
        .tagline {
            bottom: -5px;
        }

        // Adjust Nav Item line-height
        nav#main-navigation ol.navigation-list > li > a{
            line-height: 4.375em;
        }
        .search{
            line-height: 4.175em;
        }

        // Move MegaMenu Down
        .accessible-megamenu .accessible-megamenu-panel.open {
            top: 60px;
        }
        .accessible-megamenu .accessible-megamenu-top-nav-item {
            height: 60px;
        }

    }
}

// Social Icons Nav once .menu-slim is added
body.nav-add-social {
    section#main-site-navigation-wrap.menu-slim {
        ol.navigation-list {
            @include opacity(0);
            top: -100px;
            transition: opacity .4s ease 1s,
                        top .4s ease 1.5s
            ;
        }
        aside.add-social {
            @include opacity(1);
            z-index: 2;
            transition: opacity .4s ease .8s;
        }
    }
}


// Responsive for below Portrait
@include breakpoint(ipad-portrait) {
    // Implement .menu-slim, pull up Content-Wrap and center logo and tagline
    #content-wrap {
    padding-top: 80px;
    }
    section#main-site-navigation-wrap {

        height: 60px;

        // Logo: smaller, pull up and center
        h1.logo {
            float: none;
            margin-left: -64px;
            left: 50%;
            width: 128px;
             a {
                font-size: 8em;
                top: -36px;
            }
        }

        // Tagline: pull up and center
        .tagline {
            left: 50%;
            margin-left: -75px;
            bottom: -5px;
        }

        // Adjust Nav Item line-height
        nav#main-navigation ol.navigation-list > li > a{
            line-height: 4.375em;
        }
        .search{
            line-height: 4.175em;
        }

        // Move MegaMenu Down
        .accessible-megamenu .accessible-megamenu-panel.open {
            top: 60px;
        }
        .accessible-megamenu .accessible-megamenu-top-nav-item {
            height: 60px;
        }
    }
    // ---- //

    // Social Icons Nav once .menu-slim is added
    body.nav-add-social {
        // Hide Site Title
        #site-title {
            @include opacity(0);
        }
        // Tiny Social Icons
        aside.add-social {
            .addthis_button_facebook,
            .addthis_button_twitter,
            .addthis_button_email {

                span.line, span.value {
                    display:none;
                }

                &[data-icon]:before {
                    top: 1px;
                    left:  -1px;
                }
            }
        }

    }
    // ---- //

}

