

// Structure Header ------------------
header#header-wrap {
    background: $primaryLight;
    border-bottom: 1px solid darken($primaryRule, 15%);
    height:80px;
    width: 100%;
    @include clearfix();
    overflow: visible;
    position: fixed;
    z-index: 100;
    box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.16);
    transition: height .4s ease-in-out,
                    transform 0.25s ease-in-out;

    .header-inner {
        @include container;
        // NOTE: Remove padding from Container, add it back on the Logo, Tagline and Search.
        // This allows the Drop Menu to span full bleed.
        position: relative;
        padding-left:0;
        padding-right:0;
        height:80px;
    }

    .tagline, h1.logo {
        left: 1.6em;
    }

    .tagline {
        position: absolute;
        display: block;
        bottom: -25px;
        height: 25px;
        @include box-sizing(border-box);
        z-index: 2;
        font-family: $serif;
        // background: #eaeaea;
        background: $primaryText;
        // color: $primaryLink;
        color: $primaryLight;
        padding: 8px 16px;
        font-size: em-font(11px);
        letter-spacing: 0.04em;
        transition: all .4s ease-in-out;
    }
    // Logo
    h1.logo {
        float:left;
        margin: 0;
        padding: 0;
        height:80px;
        overflow: hidden;
        position: absolute;
        z-index: 2;

        a {
            font-size: 12em;
            margin: 0;
            height:42px;
            width:193px;
            line-height: 0;
            display: inline-block;
            color: $primaryText;
            position: relative;
            top: -60px;
            transition: color .15s ease-in-out,
                        top .4s ease-in-out,
                        font-size .4s ease-in-out;

            &:hover {
                color: $primaryLink;
            }
        }
        span {
            display: none;
            display: block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }

    // Nav
    nav#main-navigation {
        // float: right;

        ol.navigation-list {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 100%;

            > li {
                display: inline-block;
                float: right;

                > a {
                    padding: 0px 36px;
                    color: $primaryLink;
                    font-size: em-font(14px);
                    line-height: em-font(86px);
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    transition: line-height .4s ease-in-out;

                    &:hover {
                        color:$primaryLinkHover;
                    }
                }
            }
        }
    }

    // Search
    .search {
        display: inline-block;
        margin: 0 1em 0 76px;
        display: inline-block;
        box-sizing: border-box;
        list-style: none;
        line-height: 77px;
        float:right;
        transition: line-height .4s ease-in-out;

        a:hover {
            color:$secondary;
            background: transparent !important;
        }
    }

    // Slim Navigation: Decrease Height
    &.menu-slim {
        height: 60px;

        // Logo: smaller and pull up for new height
        h1.logo {
             a {
                font-size: 8em;
                top: -36px;
            }
        }

        // Tagline: pull up for new height
        .tagline {
            bottom: -5px;
        }

        // Adjust Nav Item line-height
        nav#main-navigation ol.navigation-list > li > a{
            line-height: 4.375em;
        }
        .search{
            line-height: 4.175em;
        }

        // Move MegaMenu Down
        .accessible-megamenu .accessible-megamenu-panel.open {
            top: 60px;
        }
        .accessible-megamenu .accessible-megamenu-top-nav-item {
            height: 60px;
        }

    }
}
