

// General Structure ------------------

body,html, #content-wrap {height:100%;}

body {
    position: relative;
    font-family: $sans;
    background: $primaryBackground;
    color: $primaryText;
    -webkit-font-smoothing: antialiased;

}

img {
    max-width: 100%;
}

#content-wrap {
    @include container;
    // @include susy-grid-background;
}

.container {
    @include span-columns(12, $total);
}

.content-row {
    clear:both;
    @include clearlyFixed();
}

.paper-white {
    background: $primaryLight;
}

.block {
    padding: 64px 0;

    &:last-child {
        padding-bottom: 160px;
    }
}

