


// Layout: Basic Article (column, blog) //
.article_layout {

    @include clearlyFixed();

    // Article Header
    header.article-header {
        @include span-columns(4, $total);
        padding: 3px 0 16px;

        p.lead {
            margin: 24px auto 12px;
        }

        .author-pic {
            margin: 16px 0;
            display: block;
        }

        .author-attrib{
            margin: 0 auto 16px;
        }


        .article-meta {
            border-top: 1px solid $primaryRule;
        }

    }


    // Primary Article Photo
    .article-photo.primary {
        @include span-columns(8 omega, $total);
        position: relative;
    }

    // Article Photo Caption Card
    .article-photo-caption {
        @include span-columns(4 omega, $total);
        display: block;
        margin-top: -2px;
        clear: both;
    }

    // Article Body Copy when Photo is present
    // NOTE: Temporary Setup - replace with jquery
    .article-body-copy {
        margin-top: -168px;
    }

    // No Photo
    &.no-photo {
        .article-body-copy {
            margin-top: 0px;
        }
        header.article-header {
            width: auto;
        }

        .social-list {
            margin: 24px 0 16px;
        }

    }

    .article-footer {
        padding: 0 0 76px;
        border-bottom: 1px solid $primaryRule;

        &.author-profile-object {
            padding: 56px 0 32px;
            border-top: 1px solid $primaryRule;
        }
    }

}