


// Layout: Primary Aside //
aside.aside-column-primary {

    .aside-block {
        display: block;
        margin: 0 auto 30px;

        li:last-child {
            border-bottom:0px;
        }

        // With Top Border
        &.with-top-border {
            border-top: 4px solid $secondary;
            background: $primaryLight;
            padding:0px 20px 24px 20px;

            .section-title {
                padding: 18px 0 16px 0px;
            }

        }

        &.double-spaced {
            padding-top: 24px + 24px;
        }
    }


    .section-title {
        font-size: em-font(16px);
        letter-spacing: 0.032em;
        padding: 18px 0 16px 18px;
        margin-bottom: 12px;
    }

    // Media with Large Image
    .media-object.with-large-image img {
        width:70%;
    }

    // Icon
    .icon {
        display: inline-block;
        margin: 0 4px 0 8px;
    }

    // Share
    .social-list {
      margin: 0 auto;
    }

    // Author
    .author-pic {
      display: block;
      margin: 0 auto 12px;
    }
    .author-attrib {
      text-align:center;
      display: block;
      margin: 0 auto 12px;
    }

}


//
.no-photo {
  .aside-column-primary {
    margin-top: -160px;
  }
}
