


// Layout: Primary (basis of home, column, blog) //
.primary_layout {

    // Aside Column
    aside.aside-column-primary {
        @include span-columns(4 omega, $total);
    }


    // Article Body Copy
    .primary-content {
        @include span-columns(8, $total);

        .content-block {
            @include clearlyFixed;
            background: $primaryLight;
            padding: 1.6em;
            margin: 0 auto 20px;

            .article-photo.primary {
                margin: -1.6em -1.6em 0px -1.6em;
            }
        }
    }


}