


// Layout: Primary Aside //
aside.aside-column-primary {

    .aside-block {
        padding:24px 0;
        display: block;

        &.double-spaced {
            padding-top: 24px + 24px;
        }
    }

    header.card {
        .section-title {
            margin: 0 0 24px;
            font-size: em-font(18px);
            letter-spacing: 0.032em;
        }
    }
    .media-object.with-large-image img {
        width:50%;
    }


}
