


// Layout: Primary (basis of home, column, blog) //
.primary_layout {

    // Aside Column
    aside.aside-column-primary {
        @include span-columns(4 omega, $total);

        // Aside Column - Flush Right
        &.flush-right {
            position: relative;

            // NOTE: pull to the top and offset bottom-margin
            top: -64px;
            margin-bottom: -64px;
            padding-bottom: 76px;
            width: 34%;
            margin-right: -1.6em;

            &:before {
                content:'';
                position: fixed;
                top: 0;
                height: 100%;
                border-left: 2px solid $primaryRule;
            }

            // NOTE: add inner padding
            .inner-column-wrap {
                padding: 0 18px;
            }

            // NOTE: offset .section-header's
            .card {
                margin: 0 -18px 0;
            }
        }
    }


    // Article Body Copy
    .primary-content {
        @include span-columns(8, $total);
    }


}