


// Layout: Basic Article (column, blog) //
.article_layout {

    @include clearlyFixed();

    // Article Header
    header.article-header {
        @include span-columns(4, $total);
        padding: 26px 0 16px;

        p.lead {
            margin: 24px auto 12px;
        }

        .author-pic {
            margin: 32px auto 16px;
            position: absolute;
        }

        .author-attrib{
            margin: 0 auto 16px;
        }


        .article-meta {
            margin-top: 124px;
            border-top: 1px solid $primaryRule;
        }
    }


    // Primary Article Photo
    .article-photo.primary {
        @include span-columns(8 omega, $total);
        position: relative;
    }

    // Article Photo Caption Card
    .article-photo-caption {
        @include span-columns(4 omega, $total);
        display: block;
        margin-top: -2px;
    }


    // Aside Column
    aside.primary-content-aside {
        @include span-columns(4 omega, $total);
    }


    // Article Body Copy
    article.article-body-copy {
        @include span-columns(8, $total);
        margin-top: -148px; /*temp*/
    }


}