


// Layout: Edge to Edge layouts (heros, canvas) //


.hero-content {
    position: relative;
    z-index: 1;
    height: 600px;
    width: 100%;
    left: 0;
    right:0;
    background: $primaryHeader;


    // Hero Article - Feature Type
    &.hero-article-feature{
        background: url('../img/content/feature-placeholder.jpg')no-repeat;
        .inner-hero {
            padding: 72px 0 116px;
            @include span-columns(6, $total);
            @include center-columns;
        }
    }


    // Hero Article - Title Type
    &.hero-article-title{
        height: 800px;

        .inner-hero {
            padding: 80px 0;
            width:100%;
            position: absolute;
            bottom: 0px;
        }
        .col-wrap {
            @include span-columns(9, $total);
            @include center-columns;
        }
        .col{
            @include span-columns(5, $total);
        }
        .col:last-child {
            margin: 16px auto 0;
            @include span-columns(7 omega, $total);
        }

    }

    // Hero Article - Inline Article Type
    &.hero-article-section{
        .inner-hero {
            padding: 80px 0;
            @include span-columns(8, $total);
            @include center-columns;
        }
    }

    // Hero Article - Inline Slideshow Type
    &.hero-slideshow-section{
        background: $primaryText;
        height: auto;
        .inner-bounds {
            padding: 0;

            .slideshow-wrap {
                margin: 0 -1.6em 0 -1.6em;
            }
        }

        // Caption for Entire Slideshow
        .text-meta-sub {
            color: $primaryText;
            position: absolute;
            margin-top:12px;
        }
    }


    // NOTE: List of Hero Layout options =>
    // &.hero-article-feature,
    // &.hero-article-title,
    // &.hero-article-section

}