


// Layout: Edge to Edge layouts (heros, canvas) //

// This style would be inline
.story-cover-image {
    background: url('../img/content/feature-placeholder.jpg')no-repeat;
}
.story-cover-image-transition {
    background: url('../img/content/feature-placeholder-transitionTo.jpg') no-repeat;
}


// Hero Utilities ----

// Background Size Full
.background-size-full {
    max-width: 100%;
    margin-top: 0;
    position: relative;
    height: 100%;
    max-height: 600px;
    background-color: $primaryHeader;
    background-position: center;
}

// Single Col Layout (8 cols, centered)
.single-col-layout {
    @include span-columns(8, $total);
    @include center-columns;
}

// Two Col Layout
.two-col-layout {
    .col{
        @include span-columns(5, $total);
    }
    .col:last-child {
        margin: 16px auto 0;
        @include span-columns(7 omega, $total);
    }
}

// Taller Hero
.hero-tall {
    height:800px !important;
    max-height:800px !important;
}

// Align Middle
.align-middle {
    height: 100%;
    position: relative;
    &.align-bottom {
        .align-block {
            vertical-align: bottom;
            padding-bottom:40px;
        }
    }
    &:before {
        content: '';
        height: 100%;
        margin-right: -0.32em;
    }
    &:before, .align-block {
        display: inline-block;
        vertical-align: middle;
    }
}

// Cover Content
.story-cover-content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    // bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    // Set to Rel to allow Skrollr.js magic
    .cover-content-inner {
        position: relative;
    }
}

// Cover Hover
.story-cover-hover-background {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    transition: all .15s ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    bottom: 0px;
    top: 0px;
    max-width: 100%;
    margin-top: 0;
    height: 100%;
    max-height: 600px;
    background: lighten($primaryText, 10%) url('../img/patterns/background-pixelated-dark.png') repeat;

    .story-cover-hover-content {
        transition: transform .34s ease-in-out;
        transform: translate3d(0px, 10px, 0px);
    }

    h2 {
        font-weight: 200;
    }
    .read-this-arrow {
        display: inline-block;
        font-size: 60px;
        position: relative;
        top: 8px;
    }
}

// Cover Image
.story-cover-image,
.story-cover-image-transition {
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.story-cover-image {
    // transition: opacity .34s ease-in;
    z-index: 1;
}
.story-cover-image-transition {
    z-index: 0;
}

// Scroll Down Cover Arrow
.arrow-down {
    position: relative;
    top: 24px;
    z-index: 3;
    opacity: .7;
    font-size: 2.5em;
    text-align: center;
    display: block;
    margin-top: 40px;
    transition: all .15s ease-in-out;
    &:hover {
        color: $primaryLink;
    }
}

// Scroll Down Arrow and Wrap
.arrow-down.alternate {
    z-index: 100;
    display: block;
    position: absolute;
    height: 21px;
    width: 46px;
    bottom:0px;
    top: inherit;
    margin: 0 0 0 -23px;
    left: 50%;
    background: url('../img/icons/arrow-down.png') no-repeat center bottom;
}

// Hover on Hero
.hero:hover {
    .arrow-down {
        opacity: 1;
        transform: translate3d(0, 5px, 0);

        &.alternate {
            opacity:.7
            transform: translate3d(0, 2px, 0);
        }
    }
    .story-cover-hover-background {
        opacity: .8;
    }
    .story-cover-hover-background .story-cover-hover-content {
        transform: translate3d(0, -10px, 0);
    }

}


.hero {
    position: relative;
    height: 600px;
    overflow: hidden;


    // Hero Article - Title Type
    &.hero-article-title{
        height: 800px;
    }


    // Hero Article - Inline Slideshow Type
    &.hero-slideshow-section{
        background: $primaryText;
        height: auto;
        max-height: 100%;
        .inner-bounds {
            padding: 0;

            .slideshow-wrap {
                margin: 0 -1.6em 0 -1.6em;
            }
        }

    }


    // NOTE: List of Hero Layout options =>
    // &.hero-featured-article,
    // &.hero-article-title,
    // &.hero-article-section

}

// Caption for Entire Slideshow
.slideshow-figcaption {


    .text-meta-sub {
        @include span-columns(8, $total);
        @include center-columns;
        color: $primaryText;
        margin-top:14px;
    }
}